.main-page {
  background-repeat: repeat;
  background-position: top;
  background-size: 320px;
  @include centered-margin();
  background-image: url('../images/img-bg/mobile/bg-main-mob-1x.jpg');
  @include retina {
    background-image: url('../images/img-bg/mobile/bg-main-mob-2x.jpg');
  }
  @include tablet {
    background-repeat: no-repeat;
    background-size: 768px;
    background-image: url('../images/img-bg/tablet/bg-main-tab-1x.jpg');
    @include retina {
      background-image: url('../images/img-bg/tablet/bg-main-tab-2x.jpg');
    }
  }
  @include desktop {
    background-size: 1440px;
    background-image: url('../images/img-bg/desktop/bg-main-dt-1x.jpg');
    @include retina {
      background-image: url('../images/img-bg/desktop/bg-main-dt-2x.jpg');
    }
  }
}

.modeling-page {
  background-repeat: repeat;
  background-position: top;
  background-size: 320px;
  @include centered-margin();
  background-image: url('../images/img-bg/mobile/bg-3d-modeling-mob-1x.jpg');
  @include retina {
    background-image: url('../images/img-bg/mobile/bg-3d-modeling-mob-2x.jpg');
  }
  @include tablet {
    background-repeat: no-repeat;
    background-size: 768px;
    background-image: url('../images/img-bg/tablet/bg-3d-modeling-tab-1x.jpg');
    @include retina {
      background-image: url('../images/img-bg/tablet/bg-3d-modeling-tab-2x.jpg');
    }
  }
  @include desktop {
    background-size: 1440px;
    background-image: url('../images/img-bg/desktop/bg-3d-modeling-dt-1x.jpg');
    @include retina {
      background-image: url('../images/img-bg/desktop/bg-3d-modeling-dt-2x.jpg');
    }
  }
}

.scanning-page {
  background-repeat: repeat;
  background-position: top;
  background-size: 320px;
  @include centered-margin();
  background-image: url('../images/img-bg/mobile/bg-3d-scanning-mob-1x.jpg');
  @include retina {
    background-image: url('../images/img-bg/mobile/bg-3d-scanning-mob-2x.jpg');
  }
  @include tablet {
    background-repeat: no-repeat;
    background-size: 768px;
    background-image: url('../images/img-bg/tablet/bg-3d-scanning-tab-1x.jpg');
    @include retina {
      background-image: url('../images/img-bg/tablet/bg-3d-scanning-tab-2x.jpg');
    }
  }
  @include desktop {
    background-size: 1440px;
    background-image: url('../images/img-bg/desktop/bg-3d-scanning-dt-1x.jpg');
    @include retina {
      background-image: url('../images/img-bg/desktop/bg-3d-scanning-dt-2x.jpg');
    }
  }
}

.printing-page {
  background-repeat: repeat;
  background-position: top;
  background-size: 320px;
  @include centered-margin();
  background-image: url('../images/img-bg/mobile/bg-3d-printing-mob-1x.jpg');
  @include retina {
    background-image: url('../images/img-bg/mobile/bg-3d-printing-mob-2x.jpg');
  }
  @include tablet {
    background-repeat: no-repeat;
    background-size: 768px;
    background-image: url('../images/img-bg/tablet/bg-3d-printing-tab-1x.jpg');
    @include retina {
      background-image: url('../images/img-bg/tablet/bg-3d-printing-tab-2x.jpg');
    }
  }
  @include desktop {
    background-size: 1440px;
    background-image: url('../images/img-bg/desktop/bg-3d-printing-dt-1x.jpg');
    @include retina {
      background-image: url('../images/img-bg/desktop/bg-3d-printing-dt-2x.jpg');
    }
  }
}

.take-order-page {
  background-repeat: repeat;
  background-position: top;
  background-size: 320px;
  @include centered-margin();
  background-image: url('../images/img-bg/mobile/bg-take-order-mob-1x.jpg');
  @include retina {
    background-image: url('../images/img-bg/mobile/bg-take-order-mob-2x.jpg');
  }
  @include tablet {
    background-repeat: no-repeat;
    background-size: 768px;
    background-image: url('../images/img-bg/tablet/bg-take-order-tab-1x.jpg');
    @include retina {
      background-image: url('../images/img-bg/tablet/bg-take-order-tab-2x.jpg');
    }
  }
  @include desktop {
    background-size: 1440px;
    background-image: url('../images/img-bg/desktop/bg-take-order-dt-1x.jpg');
    @include retina {
      background-image: url('../images/img-bg/desktop/bg-take-order-dt-2x.jpg');
    }
  }
}

.contact-page {
  background-repeat: repeat;
  background-position: top;
  background-size: 320px;
  @include centered-margin();
  background-image: url('../images/img-bg/mobile/bg-contact-mob-1x.jpg');
  @include retina {
    background-image: url('../images/img-bg/mobile/bg-contact-mob-2x.jpg');
  }
  @include tablet {
    background-repeat: no-repeat;
    background-size: 768px;
    background-image: url('../images/img-bg/tablet/bg-contact-tab-1x.jpg');
    @include retina {
      background-image: url('../images/img-bg/tablet/bg-contact-tab-2x.jpg');
    }
  }
  @include desktop {
    background-size: 1440px;
    background-image: url('../images/img-bg/desktop/bg-contact-dt-1x.jpg');
    @include retina {
      background-image: url('../images/img-bg/desktop/bg-contact-dt-2x.jpg');
    }
  }
}
