@import './base/_index';
@import './utils/_index';
@import './vendors/_index';
@import './components/_index';
@import './layout/_index';
@import './pages/_index';

.test {
  font-family: Caviar Dreams Regular;
}
.test1 {
  font-family: Caviar Dreams Bold;
}
.test2 {
  font-family: Cera Pro Regular;
}
.test3 {
  font-family: Cera Pro Medium;
}
.test4 {
  font-family: Cera Pro Bold;
}
.test5 {
  font-family: Cera Pro Light;
}
