<section class="contacts">
  <div class="contacts__container contacts__container--left container">
    <h2 class="contacts__title">Контакти</h2>
    <div class="wrap-tel wrap-tel--left">
      <p class="contacts__subtitle">Телефони</p>
      <address class="contacts__tel">
        <ul class="contacts__list">
          <li class="contacts__item">
            <a href="tel:+380957384551" class="contacts__link"
              >+38 (095) -73-84-551</a
            >
          </li>
          <li class="contacts__item">
            <a href="tel:+380980025235" class="contacts__link"
              >+38 (098) -00-25-235</a
            >
          </li>
        </ul>
      </address>
    </div>

    <div class="wrap-mail wrap-mail--left">
      <p class="contacts__subtitle contacts__subtitle--capitalize">Email</p>
      <address class="contacts__mail">
        <a class="contacts__link" href="mailto:3dfreedom.info@gmail.com"
          >3dfreedom.info@gmail.com</a
        >
      </address>
    </div>

    <div class="wrap-hour wrap-hour--left">
      <p class="contacts__subtitle">Робочий час</p>
      <ul class="contacts__list">
        <li class="contacts__item">
          <p class="contacts__text">Пн-пт:</p>
          <p class="contacts__text">З 8:00 До 19:00</p>
        </li>
        <li class="contacts__item">
          <p class="contacts__text">Сб, Нд:</p>
          <p class="contacts__text">З 10:00 До 17:00</p>
        </li>
      </ul>
    </div>
  </div>
</section>
