<section class="order-section">
  <div class="order-container">
    <h1 class="order-form__title">Зв'яжіться з нами</h1>
    <form class="order-form">
      <div class="order-form__field">
        <input
          type="text"
          class="order-form__field-input"
          name="name"
          placeholder="name"
          id="name"
        />
        <label for="name" class="order-form__field-label">Ім'я</label>
      </div>

      <div class="order-form__field last">
        <input
          type="email"
          class="order-form__field-input"
          name="mail"
          placeholder="email"
          id="mail"
        />
        <label for="mail" class="order-form__field-label">Email</label>
      </div>

      <div class="order-form__message">
        <label for="comment">Повідомлення</label>
        <textarea
          name="comment"
          id="comment"
          placeholder="Залишіть своє повідомлення"
        ></textarea>
        <!-- <svg class="order-form__icon" width="22" height="20">
          <use href="/src/images/icons.svg#icon-paper-clip"></use>
        </svg> -->
        <p class="order-form__instruction">
          *Прикріпіть зображення/креслення/STL/Obj/<br class="br" />CAD-модель
        </p>
        <label for="file-select">
          <svg class="add-file-icon" width="22" height="20">
            <use href="/src/images/icons.svg#icon-paper-clip"></use>
          </svg>
        </label>
        <input class="select-file" type="file" name="file" id="file-select" />
      </div>
      <button type="submit" class="button-send">Відправити</button>
    </form>
  </div>
</section>
