@mixin font($fw, $fs, $lh, $ls) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}

@mixin animation($one, $two, $three, $time: 250ms, $func: $timing-function) {
  transition-property: $one, $two, $three;
  transition-duration: $time;
  transition-timing-function: $func;
}
