$primary-color-text: #2b2b2b;
$secondary-color-text: #487996;

$accent-color: #2196f3;

$primary-bgc: #ffffff;
$footer-bgc: #f5f5fa;

// $button-bgc-focus: #188ce8;
$button-bgc: #f5f4fa;
$placeholder-color: #cdcdcd;

$header-triangle-color: #008cef;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
