$primary-color-text: #2B2B2B;
$secondary-color-text: #487996;
// $accent-color: #2196f3;

$primary-bgc: #ffffff;
$footer-bgc: #f5f4fa;

// $button-bgc-focus: #188ce8;
$button-bgc: #f5f4fa;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);