<section class="footer">
    <div class="footer-container container">
        <div class="logo">
          
        </div>
        <div class="footer-menu">
            <ul class="menu-list">
                <li class="menu-item">
                    <a class="menu-link" href="">Головна</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="">3D Моделювання</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="">3D Сканування</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="">3D Друк</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="">Замовити</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="">Контакти</a>
                </li>
            </ul>
        </div>
        <div class="footer-soc">
            <ul class="footer-soc-list">
                <li class="footer-soc-item">
                    <a class="footer-soc-link" href="">Instagram</a>
                </li>
                <li class="footer-soc-item">
                    <a class="footer-soc-link" href="">YouTube</a>
                </li>
                <li class="footer-soc-item">
                    <a class="footer-soc-link" href="">Facebook</a>
                </li>
        </div>
        <div class="footer-address">
            <address class="address">
                <ul class="address-list">
                <li class="address-item">
                    <h2 class="address-title">Email</h2> <a class="address-link" href="+38 (093) 643 22 88">3dfreedom.info@gmail.com</a>
                </li>
                    <li class="address-item">
                        <h2 class="address-title">Телефони</h2> <a class="address-link" href="+38 (093) 643 22 88">+38
                            (093) 643 22
                            88</a>
                    </li>
                    <li class="address-item"> <a class="address-link" href="+38 (050) 345 44 23"> +38 (050) 345 44
                            23</a>
                    </li>
                </ul>
            </address>
        </div>
    </div>
</section>