<footer class="footer">
  <div class="footer-container container">
    <div class="logo">
      <a href="./index.html">
        <picture>
          <source
            srcset="
              ./images/desktop/logo/logo-desktop@1x.jpg 1x,
              ./images/desktop/logo/logo-desktop@2x.jpg 2x,
              ./images/desktop/logo/logo-desktop@3x.jpg 3x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/logo/logo-footer-tablet@1x.jpg 1x,
              ./images/tablet/logo/logo-footer-tablet@2x.jpg 2x,
              ./images/tablet/logo/logo-footer-tablet@3x.jpg 3x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile/logo/logo-footer-mobile@1x.jpg 1x,
              ./images/mobile/logo/logo-footer-mobile@2x.jpg 2x,
              ./images/mobile/logo/logo-footer-mobile@3x.jpg 3x
            "
            media="(max-width: 767px)"
          />
          <img
            class="logo-img"
            src="./images/desktop/logo/logo-desktop@2x.jpg"
            alt="logo"
          />
        </picture>
      </a>
    </div>
    <div class="footer-content">
      <div class="footer-menu">
        <ul class="menu-list">
          <li class="footer-menu-item">
            <a class="footer-menu-link" href="./">Головна</a>
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-link" href="./modeling.html"
              >3D Моделювання</a
            >
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-link" href="./scanning.html">3D Сканування</a>
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-link" href="./printing.html">3D Друк</a>
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-link" href="./order.html">Замовити</a>
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-link" href="./contact.html">Контакти</a>
          </li>
        </ul>
      </div>
      <div class="footer-soc">
        <ul class="footer-soc-list">
          <li class="footer-soc-item">
            <a class="footer-soc-link" href="">Instagram</a>
          </li>
          <li class="footer-soc-item">
            <a class="footer-soc-link" href="">YouTube</a>
          </li>
          <li class="footer-soc-item">
            <a class="footer-soc-link" href="">Facebook</a>
          </li>
        </ul>
      </div>
      <div class="footer-address">
        <address class="address">
          <ul class="address-list">
            <li class="address-item-mail">
              <p class="address-text">Email</p>
              <a class="address-link-mail" href="mail:3dfreedom.info@gmail.com"
                >3dfreedom.info@gmail.com</a
              >
            </li>
            <li class="address-item-tell">
              <p class="address-text">Телефони</p>
              <a class="address-link-tell" href="tel:+380936432288"
                >+38 (093) 643 22 88</a
              >
            </li>
            <li class="address-item">
              <a class="address-link-tell" href="tel:+380503454423">
                +38 (050) 345 44 23</a
              >
            </li>
          </ul>
        </address>
      </div>
    </div>
  </div>
</footer>
