<header>
    <div class="container">
        <a href="./index.html" class="">
            <picture>
                <source
                    srcset="
                        ./images/desktop/logo/logo-desktop@1x.jpg 1x, 
                        ./images/desktop/logo/logo-desktop@2x.jpg 2x,
                        ./images/desktop/logo/logo-desktop@3x.jpg 3x"
                    media="(min-width: 1440px)"
                    />
                <source
                    srcset="
                        ./images/tablet/logo/logo-header-tablet@1x.jpg 1x,
                        ./images/tablet/logo/logo-header-tablet@2x.jpg 2x,
                        ./images/tablet/logo/logo-header-tablet@3x.jpg 3x
                    "
                    media="(min-width: 768px)"
                    />
                    <source
                    srcset="
                        ./images/mobile/logo/logo-header-mobile@1x.jpg 1x,
                        ./images/mobile/logo/logo-header-mobile@1x.jpg 2x,
                        ./images/mobile/logo/logo-header-mobile@3x.jpg 3x
                    "
                    media="(max-width: 767px)"
                    />
                    <img class="logo" src="./images/desktop/logo/logo-desktop@1x.jpg" alt="Логотип компании 3DFreedom" />
            </picture>
        </a>
        <button type="button" class="menu-open">
            <svg class="menu-open__icon" width="32" height="32" aria-label="Кнопка виклику мобільного меню">
                <use href="./images/icons.svg#icon-burger"></use>
            </svg>
        </button>
        <button type="button" class="tel-open">
            <svg class="tel-open__icon" width="24" height="24" aria-label="Кнопка відображення контактів">
                <use href="./images/icons.svg#icon-icon-tel"></use>
            </svg>
        </button>
         <select>
        <option value="EN">EN</option>
        <option value="UKR" selected>UKR</option>
          </select>
    </div>
</header>

