<div class="modal-main js-menu-container" id="mobile-menu">
  <div class="modal-main__menu">
    <ul class="modal-main__menu-list">
      <li class="modal-main__menu-item">
        <a class="modal-main__menu-link" href="./index.html">
          Головна
        </a>
      </li>
      <li class="modal-main__menu-item">
        <a class="modal-main__menu-link"> Послуги </a>
      </li>
      <li class="modal-main__menu-item">
        <a class="modal-main__menu-link services" href="./modeling.html">
          3D Моделювання
        </a>
      </li>
      <li class="modal-main__menu-item">
        <a class="modal-main__menu-link services" href="./scanning.html">
          3D Сканування
        </a>
      </li>
      <li class="modal-main__menu-item">
        <a class="modal-main__menu-link services" href="./printing.html">
          3D Друк
        </a>
      </li>
      <li class="modal-main__menu-item">
        <a class="modal-main__menu-link" href="./order.html"> Замовити </a>
      </li>
      <li class="modal-main__menu-item">
        <a class="modal-main__menu-link" href="./contact.html"> Контакти </a>
      </li>
    </ul>
  </div>
  <div class="deco"></div>
</div>