.body {
  margin: 0;
}

.container {
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.section {
  @media screen and (max-width: 767px) {
    width: 280px;
    margin: 40px 20px;
  }

  @media screen and (min-width: 768px) {
  }
  width: 704px;
  margin: 40px 32px;

  @media screen and (min-width: 1200px) {
    width: 1200px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 149px;
    margin-right: 189px;
  }
}
.scanning-hero__title {
  font-family: 'Cera Pro Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.26;
  margin: 0;
  margin-bottom: 16px;

  color: #487996;

  @media screen and (min-width: 768px) {
    font-size: 36px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 48px;
    margin-bottom: 24px;
  }
}

.scanning-hero__pharagraph-box {
  @media screen and (max-width: 767px) {
    height: 992px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    display: flex;
  }
}

.scanning-hero__pharagraph {
  justify-content: center;
  font-family: 'Cera Pro Light';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;

  color: #2b2b2b;

  @media screen and (max-width: 767px) {
  }
  max-width: 280px;

  @media screen and (min-width: 768px) {
  }
  max-width: 515px;

  @media screen and (min-width: 1200px) {
    max-width: 515px;
    font-size: 18px;
    display: inline-block;
    margin-right: 72px;
  }
}

.scanning-hero__pharagraph-small {
  justify-content: center;
  font-family: 'Cera Pro Light';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 16px;

  color: #2b2b2b;

  @media screen and (max-width: 767px) {
  }
  max-width: 280px;

  @media screen and (min-width: 768px) {
  }
  max-width: 515px;

  @media screen and (min-width: 1200px) {
    max-width: 515px;
    font-size: 18px;
    display: inline-block;
  }
}

.new-row {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

a {
  text-decoration: none;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

.order-button {
  color: #487996;
  font-family: 'Cera Pro Medium';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #487996;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 10px;

  width: 277px;
  height: 56px;

  background: #f5f5fa;
  box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1),
    5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
  border-radius: 30.5px;
}
