.section {
  padding-top: 40px;
  padding-bottom: 40px;

  @include desktop {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.scanning-hero__container {
  @include desktop {
    padding-left: 149px;
  }
}

.scanning-hero__title {
  @include font(24px, 700, 1.26, null);
  margin-bottom: 16px;
  text-transform: uppercase;

  color: $secondary-color-text;

  @include tablet {
    font-size: 36px;
  }
  @include desktop {
    font-size: 48px;
    margin-bottom: 24px;
  }
}

.scanning-hero__pharagraph-box {
  @media screen and (max-width: 767px) {
  }

  @include tablet {
    position: relative;
  }

  @include desktop {
    max-width: 1440px;
    display: flex;
  }
}

.scanning-bg {
  background-image: url('../images/mobile/3d-scanning-page/hero-mobile@1x.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 199px;
  background-size: contain;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/mobile/3d-scanning-page/hero-mobile@2x.jpg');
  }
  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url('../images/mobile/3d-scanning-page/hero-mobile@3x.jpg');
  }
  @include tablet {
    max-width: 241px;
    max-height: 172px;
    position: absolute;
    top: 53%;
    left: 490px;
    transform: translateY(-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-image: url('../images/tablet/3d-scanning-page/hero-tablet@1x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/tablet/3d-scanning-page/hero-tablet@2x.jpg');
    }
    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url('../images/tablet/3d-scanning-page/hero-tablet@3x.jpg');
    }
  }
  @include desktop {
    max-width: 435px;
    min-height: 286px;
    position: absolute;
    top: 80%;
    left: 588px;
    transform: translateY(-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-image: url('/src/images/desktop/3d-scanning-page/hero-desktop@1x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/desktop/3d-scanning-page/hero-desktop@2x.jpg');
    }
    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url('/src/images/desktop/3d-scanning-page/hero-desktop@3x.jpg');
    }
  }
}

.scanning-hero__pharagraph {
  justify-content: center;

  @include font(16px, 300, 1.25, null);

  color: $primary-color-text;

  @media screen and (max-width: 767px) {
  }
  max-width: 280px;

  @include tablet {
  }
  max-width: 515px;

  @include desktop {
    max-width: 515px;
    font-size: 18px;
    display: inline-block;
    margin-right: 72px;
  }
}

.scanning-hero__pharagraph-small {
  justify-content: center;

  @include font(16px, 300, 1.25, null);

  margin-bottom: 16px;

  color: $primary-color-text;

  @media screen and (max-width: 767px) {
  }
  max-width: 280px;

  @include tablet {
  }
  max-width: 515px;

  @include desktop {
    max-width: 515px;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 0;
  }
}

.first {
  margin-bottom: 16px;
}

.new-row {
  @media screen and (max-width: 1439px) {
    display: none;
  }
}
