.scan-process {
  padding-bottom: 60px;

  @include desktop {
    padding-bottom: 80px;
  }
}

.scan-process__title {
  margin-bottom: 16px;
  @include font(18px, 700, 1.28, null);
  text-transform: uppercase;
  color: $secondary-color-text;

  @include tablet {
    @include font(24px, 700, 1.25, null);
    margin-bottom: 24px;
    padding-left: 28px;
  }

  @include desktop {
    font-size: 36px;
    margin-bottom: 40px;
    padding-left: 117px;
  }
}

.scan-process__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 20px;
  margin-bottom: 60px;

  @include tablet {
    column-gap: 32px;
  }
  @include desktop {
    margin-bottom: 80px;
  }
}

.scan-process__item {
  @include centered-flex;
  flex-direction: column;
  gap: 15px;
  height: 182px;
  flex-basis: calc((100% - 1 * 20px) / 2);
  box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8),
    inset -1px -1px 16px #ffffff;
  border-radius: 50px 0px;
  text-align: center;

  @include tablet {
    height: 210px;
    flex-basis: calc((100% - 3 * 32px) / 4);
  }
  @include desktop {
    height: 381px;
  }
}

.scan-process__item:nth-child(1)::before {
  content: '';
  background-image: url('../images/mobile/3d-scanning-page/scan-process-1-mobile@1x.jpg');
  width: 91.76px;
  height: 81.44px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @include retina {
    background-image: url('../images/mobile/3d-scanning-page/scan-process-1-mobile@2x.jpg');
  }

  @include retina3x {
    background-image: url('../images/mobile/3d-scanning-page/scan-process-1-mobile@3x.jpg');
  }

  @include tablet {
    width: 107.29px;
    height: 93.97px;
    background-image: url('../images/tablet/3d-scanning-page/scan-process-1-tablet@1x.jpg');
    @include retina {
      background-image: url('../images/tablet/3d-scanning-page/scan-process-1-tablet@2x.jpg');
    }

    @include retina3x {
      background-image: url('../images/tablet/3d-scanning-page/scan-process-1-tablet@3x.jpg');
    }
  }

  @include desktop {
    width: 240px;
    height: 240px;
    background-image: url('../images/desktop/3d-scanning-page/scan-process-1-desktop@1x.jpg');
    @include retina {
      background-image: url('../images/desktop/3d-scanning-page/scan-process-1-desktop@2x.jpg');
    }

    @include retina3x {
      background-image: url('../images/desktop/3d-scanning-page/scan-process-1-desktop@3x.jpg');
    }
  }
}

.scan-process__item:nth-child(2)::before {
  content: '';
  background-image: url('../images/mobile/3d-scanning-page/scan-process-2-mobile@1x.jpg');
  width: 91.25px;
  height: 83.37px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @include retina {
    background-image: url('../images/mobile/3d-scanning-page/scan-process-2-mobile@2x.jpg');
  }

  @include retina3x {
    background-image: url('../images/mobile/3d-scanning-page/scan-process-2-mobile@3x.jpg');
  }

  @include tablet {
    width: 106.69px;
    height: 95.19px;
    background-image: url('../images/tablet/3d-scanning-page/scan-process-2-tablet@1x.jpg');
    @include retina {
      background-image: url('../images/tablet/3d-scanning-page/scan-process-2-tablet@2x.jpg');
    }

    @include retina3x {
      background-image: url('../images/tablet/3d-scanning-page/scan-process-2-tablet@3x.jpg');
    }
  }

  @include desktop {
    width: 240px;
    height: 240px;
    background-image: url('../images/desktop/3d-scanning-page/scan-process-2-desktop@1x.jpg');
    @include retina {
      background-image: url('../images/desktop/3d-scanning-page/scan-process-2-desktop@2x.jpg');
    }

    @include retina3x {
      background-image: url('../images/desktop/3d-scanning-page/scan-process-2-desktop@3x.jpg');
    }
  }
}

.scan-process__item:nth-child(3)::before {
  content: '';
  background-image: url('../images/mobile/3d-scanning-page/scan-process-3-mobile@1x.jpg');
  width: 92.04px;
  height: 81.24px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @include retina {
    background-image: url('../images/mobile/3d-scanning-page/scan-process-3-mobile@2x.jpg');
  }

  @include retina3x {
    background-image: url('../images/mobile/3d-scanning-page/scan-process-3-mobile@3x.jpg');
  }

  @include tablet {
    width: 107.62px;
    height: 92.75px;
    background-image: url('../images/tablet/3d-scanning-page/scan-process-3-tablet@1x.jpg');
    @include retina {
      background-image: url('../images/tablet/3d-scanning-page/scan-process-3-tablet@2x.jpg');
    }

    @include retina3x {
      background-image: url('../images/tablet/3d-scanning-page/scan-process-3-tablet@3x.jpg');
    }
  }

  @include desktop {
    width: 240px;
    height: 240px;
    background-image: url('../images/desktop/3d-scanning-page/scan-process-3-desktop@1x.jpg');
    @include retina {
      background-image: url('../images/desktop/3d-scanning-page/scan-process-3-desktop@2x.jpg');
    }

    @include retina3x {
      background-image: url('../images/desktop/3d-scanning-page/scan-process-3-desktop@3x.jpg');
    }
  }
}
.scan-process__item:nth-child(4)::before {
  content: '';
  background-image: url('../images/mobile/3d-scanning-page/scan-process-4-mobile@1x.jpg');
  width: 90.73px;
  height: 83.02px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @include retina {
    background-image: url('../images/mobile/3d-scanning-page/scan-process-4-mobile@2x.jpg');
  }

  @include retina3x {
    background-image: url('../images/mobile/3d-scanning-page/scan-process-4-mobile@3x.jpg');
  }

  @include tablet {
    width: 106.08px;
    height: 95.8px;
    background-image: url('../images/tablet/3d-scanning-page/scan-process-4-tablet@1x.jpg');
    @include retina {
      background-image: url('../images/tablet/3d-scanning-page/scan-process-4-tablet@2x.jpg');
    }

    @include retina3x {
      background-image: url('../images/tablet/3d-scanning-page/scan-process-4-tablet@3x.jpg');
    }
  }

  @include desktop {
    width: 240px;
    height: 240px;
    background-image: url('../images/desktop/3d-scanning-page/scan-process-4-desktop@1x.jpg');
    @include retina {
      background-image: url('../images/desktop/3d-scanning-page/scan-process-4-desktop@2x.jpg');
    }

    @include retina3x {
      background-image: url('../images/desktop/3d-scanning-page/scan-process-4-desktop@3x.jpg');
    }
  }
}

.scan-process__text {
  width: 100px;
  text-align: center;
  @include font(14px, 400, 1.29, null);
  color: $secondary-color-text;

  @include desktop {
    @include font(18px, 300, 1.28, null);
    width: auto;
    padding: 0 70px;
  }
}
