<div class="backdrop is-hidden" data-modal>
  <div class="carousel__wrap">
    <div class="carousel__slaider">
                      <!-- <img id="subjects"
            src="/src/images/desktop/main-page/more-photo-1-desktop@3x.jpg"
            alt="Колекція фігур"
            width="906"
        height="605"
            class="carousel__img"                 
          /> -->
                 <!-- <img   id="abstraction"
            src="/src/images/desktop/main-page/more-photo-2-desktop@3x.jpg"
            alt="Абстракція"
            width="906"
        height="605"
            class="carousel__img"                      
          />  -->
         
       
              <!-- <img id="robot"
            src="/src/images/desktop/main-page/more-photo-3-desktop@3x.jpg"
            alt="Робот"
           width="906"
        height="605"
            class="carousel__img"
                        
          /> -->
                    <!-- <img id="scull"
            src="/src/images/desktop/main-page/more-photo-4-desktop@3x.jpg"
            alt="Череп"
            width="906"
        height="605"
            class="carousel__img"            
          /> -->
    <!-- <img id="tank"
            src="/src/images/desktop/main-page/more-photo-5-desktop@3x.jpg"
            alt="Танк"
            width="906"
        height="605"
            class="carousel__img"
            
          />   -->
                    <img  id="lamps"
            src="/src/images/desktop/main-page/more-photo-6-desktop@3x.jpg"
            alt="Лампи"
            width="906"
        height="605"
            class="carousel__img"           
          />
                 <!-- <img  id="drawing"
            src="/src/images/desktop/main-page/more-photo-7-desktop@3x.jpg"
            alt="Корпус автомобіля"
            width="906"
        height="605"
            class="carousel__img"
           
          /> -->
                <!-- <img  id="tower"
            src="/src/images/desktop/main-page/more-photo-8-desktop@3x.jpg"
            alt="Башня"
           width="906"
        height="605"
            class="carousel__img"           
          /> -->
                                     <!-- <img  id="lamp"
            src="/src/images/desktop/main-page/more-photo-9-desktop@3x.jpg"
            alt="Світильник"
           width="906"
        height="605"
            class="carousel__img"
                     /> -->
       <!-- <img     id="device"
            src="/src/images/desktop/main-page/more-photo-10-desktop@3x.jpg"
            alt="Девайси"
            width="906"
        height="605"
            class="carousel__img"
        
          /> -->
         <!-- <img  id="pickap"
            src="/src/images/desktop/main-page/more-photo-11-desktop@3x.jpg"
            alt="Пікап"
            width="906"
        height="605"
            class="carousel__img"           
          /> -->
  <!-- <img id="flowers"
            src="/src/images/desktop/main-page/more-photo-12-desktop@3x.jpg"
            alt="Квіткова композиція"
            width="906"
        height="605"
            class="carousel__img"            
          />                      -->
        </div>


    <button class="carousel__icon-btn carousel__icon-btn--prev" type="button">
      <svg class="carousel__icon carousel__icon--left" width="42" height="42">
        <use href="/src/images/icons.svg#icon-arrow-left"></use>
      </svg> 
    </button>
     <button class="carousel__icon-btn carousel__icon-btn--next" type="button">
      <svg class="carousel__icon carousel__icon--right" width="42" height="42">
        <use href="/src/images/icons.svg#icon-arrow-right"></use>
      </svg> 
     </button>
 
    
     </div>
  </div>
 </div>
<script src="/src/modal-photo.js"></script>

