<div class="backdrop is-hidden" data-modal>
  <div class="carousel__wrap">
    <div class="carousel__slaider">
            <img
        src="/src/images/desktop/main-page/more-photo-6-desktop@3x.jpg"
        alt=""
        width="906"
        height="605"
        class="carousel__img"
      />
      <img
        src="/src/images/desktop/main-page/gallery-2-desktop@3x.jpg"
        alt=""
        width="906"
        height="605"
        class="carousel__img"
      />
      <img
        src="/src/images/desktop/main-page/more-photo-11-desktop@3x.jpg"
        alt=""
        width="906"
        height="605"
        class="carousel__img"
      />
      <img
        src="/src/images/desktop/main-page/more-photo-8-desktop@3x.jpg"
        alt=""
        width="906"
        height="605"
        class="carousel__img"
      />
    </div>
    <button class="carousel__icon-btn carousel__icon-btn--left" type="button">
      <svg class="carousel__icon carousel__icon--left" width="42" height="42">
        <use href="/src/images/icons.svg#icon-arrow-left"></use>
      </svg> 
    </button>
     <button class="carousel__icon-btn carousel__icon-btn--right" type="button">
      <svg class="carousel__icon carousel__icon--right" width="42" height="42">
        <use href="/src/images/icons.svg#icon-arrow-right"></use>
      </svg> 
     </button>
 
    
     </div>
  </div>
 </div>
<script src="/src/modal-photo.js"></script>
<!-- <script src="/src/carousel.js"></script> -->
