<div class="backdrop is-hidden">
  <div class="carousel__wrap">
    <div class="carousel__slaider">
      <img
        src="/src/images/desktop/main-page/more-photo-6-desktop@3x.jpg"
        alt=""
        width="906"
        height="605"
        class="carousel__img"
      />
      <img
        src="/src/images/desktop/main-page/gallery-2-desktop@3x.jpg"
        alt=""
        width="906"
        height="605"
        class="carousel__img"
      />
      <img
        src="/src/images/desktop/main-page/more-photo-11-desktop@3x.jpg"
        alt=""
        width="906"
        height="605"
        class="carousel__img"
      />
      <img
        src="/src/images/desktop/main-page/more-photo-8-desktop@3x.jpg"
        alt=""
        width="906"
        height="605"
        class="carousel__img"
      />
    </div>
                 <svg class="carousel__icon carousel__icon--left" width="42" height="42">
        <use href="/src/images/icons.svg#icon-arrow"></use>
      </svg>     
   
      
      <svg class="carousel__icon carousel__icon--right" width="42" height="42">
        <use href="/src/images/icons.svg#icon-arrow"></use>
      </svg>     
    
  </div>


  </div>
 
  
</div>

<script></script>
