<!-- <section class="gallery" id="gallery">
  <div class="gallery__container container">
    <h2 class="gallery__title title">Галерея</h2>
    <ul class="gallery__list list">
      <li class="gallery__item">
        <img
          src="/src/images/mobile/main-page/gallery-1-mobile@1x.jpg"
          alt=""
          width="203"
          height="203"
          class="gallery__img"
        />
        <h3 class="gallery__subtitle title">
          Інженерні методи аналізу та контролю якості
        </h3>
      </li>
      <li class="gallery__item">
        <img
          src="/src/images/mobile/main-page/gallery-2-mobile@1x.jpg"
          alt=""
          width=""
          height=""
          class="gallery__img"
        />
        <h3 class="gallery__subtitle title">Високоточне 3D сканування</h3>
      </li>
      <li class="gallery__item">
        <img
          src="/src/images/mobile/main-page/gallery-3-mobile@1x.jpg"
          alt=""
          width="203"
          height="203"
          class="gallery__img"
        />
        <h3 class="gallery__subtitle title">
          Створення точної копії на базі сканування reverse engineering
        </h3>
      </li>
      <li class="grid-item">
        <img
          src="/src/images/mobile/main-page/gallery-4-mobile@1x.jpg"
          alt=""
          width="203"
          height="203"
          class="gallery__img"
        />
        <h3 class="gallery__subtitle title">
          Всі цикли 3D проектування, створення фотореалістичних цифрових моделей
        </h3>
      </li>
    </ul>
  </div>
</section> -->
