<section class="gallery" id="gallery">
  <div class="gallery__container container">
    <h2 class="gallery__title title">Галерея</h2>
    <ul class="gallery__list list">
      <li class="gallery__item">
        <picture class="gallery__picture">
          <source
            srcset="
              /src/images/desktop/main-page/gallery-1-desktop@1x.jpg 1x,
              /src/images/desktop/main-page/gallery-1-desktop@2x.jpg 2x,
              /src/images/desktop/main-page/gallery-1-desktop@3x.jpg 3x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/tablet/main-page/gallery-1-tablet@1x.jpg 1x,
              /src/images/tablet/main-page/gallery-1-tablet@2x.jpg 2x,
              /src/images/tablet/main-page/gallery-1-tablet@3x.jpg 3x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/mobile/main-page/gallery-1-mobile@1x.jpg 1x,
              /src/images/mobile/main-page/gallery-1-mobile@2x.jpg 2x,
              /src/images/mobile/main-page/gallery-1-mobile@3x.jpg 3x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/desktop/main-page/gallery-1-desktop@1x.jpg"
            alt="Макет моделі"
            width="555"
            class="gallery__img"
          />
        </picture>
        <h3 class="gallery__subtitle title">
          Інженерні методи аналізу та контролю якості
        </h3>
      </li>
      <li class="gallery__item">
        <picture class="gallery__picture gallery__picture--second">
          <source
            srcset="
              /src/images/desktop/main-page/gallery-2-desktop@1x.jpg 1x,
              /src/images/desktop/main-page/gallery-2-desktop@2x.jpg 2x,
              /src/images/desktop/main-page/gallery-2-desktop@3x.jpg 3x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/tablet/main-page/gallery-2-tablet@1x.jpg 1x,
              /src/images/tablet/main-page/gallery-2-tablet@2x.jpg 2x,
              /src/images/tablet/main-page/gallery-2-tablet@3x.jpg 3x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/mobile/main-page/gallery-2-mobile@1x.jpg 1x,
              /src/images/mobile/main-page/gallery-2-mobile@2x.jpg 2x,
              /src/images/mobile/main-page/gallery-2-mobile@3x.jpg 3x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/desktop/main-page/gallery-2-desktop@1x.jpg"
            alt="Сканування моделі"
            width="555"
            class="gallery__img gallery__img--small"
          />
        </picture>
        <h3 class="gallery__subtitle gallery__subtitle--second">
          Високоточне <span lang="en">3D</span> сканування
        </h3>
      </li>
      <li class="gallery__item">
        <picture class="gallery__picture">
          <source
            srcset="
              /src/images/desktop/main-page/gallery-3-desktop@1x.jpg 1x,
              /src/images/desktop/main-page/gallery-3-desktop@2x.jpg 2x,
              /src/images/desktop/main-page/gallery-3-desktop@3x.jpg 3x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/tablet/main-page/gallery-3-tablet@1x.jpg 1x,
              /src/images/tablet/main-page/gallery-3-tablet@2x.jpg 2x,
              /src/images/tablet/main-page/gallery-3-tablet@3x.jpg 3x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/mobile/main-page/gallery-3-mobile@1x.jpg 1x,
              /src/images/mobile/main-page/gallery-3-mobile@2x.jpg 2x,
              /src/images/mobile/main-page/gallery-3-mobile@3x.jpg 3x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/desktop/main-page/gallery-3-desktop@1x.jpg"
            alt="Копія моделі"
            width="555"
            class="gallery__img"
          />
        </picture>
        <h3 class="gallery__subtitle title">
          Створення точної копії на базі сканування
          <span lang="en">reverse engineering</span>
        </h3>
      </li>
      <li class="gallery__item">
        <picture class="gallery__picture">
          <source
            srcset="
              /src/images/desktop/main-page/gallery-4-desktop@1x.jpg 1x,
              /src/images/desktop/main-page/gallery-4-desktop@2x.jpg 2x,
              /src/images/desktop/main-page/gallery-4-desktop@3x.jpg 3x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/tablet/main-page/gallery-4-tablet@1x.jpg 1x,
              /src/images/tablet/main-page/gallery-4-tablet@2x.jpg 2x,
              /src/images/tablet/main-page/gallery-4-tablet@3x.jpg 3x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/mobile/main-page/gallery-4-mobile@1x.jpg 1x,
              /src/images/mobile/main-page/gallery-4-mobile@2x.jpg 2x,
              /src/images/mobile/main-page/gallery-4-mobile@3x.jpg 3x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/desktop/main-page/gallery-4-desktop@1x.jpg"
            alt="Рука фахівця"
            width="555"
            class="gallery__img"
          />
        </picture>
        <h3 class="gallery__subtitle gallery__subtitle--last">
          Всі цикли <span lang="en">3D</span> проектування, створення
          фотореалістичних цифрових моделей
        </h3>
      </li>
    </ul>
  </div>
</section>
