<section class="main-hero">
  <div class="container main-hero__container">
    <div class="main-hero__wrap">
      <h1 class="main-hero__title">
        Інженерна, конструкторська та дизайнерська робота
      </h1>
      <ul class="main-hero__list">
        <li class="main-hero__item">
          <picture class="main-hero__picture">
            <source
              srcset="
                /src/images/desktop/main-page/hero-1-desktop@1x.jpg 1x,
                /src/images/desktop/main-page/hero-1-desktop@2x.jpg 2x,
                /src/images/desktop/main-page/hero-1-desktop@3x.jpg 3x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /src/images/tablet/main-page/hero-1-tablet@1x.jpg 1x,
                /src/images/tablet/main-page/hero-1-tablet@2x.jpg 2x,
                /src/images/tablet/main-page/hero-1-tablet@3x.jpg 3x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /src/images/mobile/main-page/hero-1-mobile@1x.jpg 1x,
                /src/images/mobile/main-page/hero-1-mobile@2x.jpg 2x,
                /src/images/mobile/main-page/hero-1-mobile@3x.jpg 3x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/src/images/desktop/main-page/hero-1-desktop@1x.jpg"
              alt="Робот"
              class="main-hero__img"
              width="203"
              height="203"
            />
          </picture>
        </li>
        <li class="main-hero__item">
          <picture class="main-hero__picture">
            <source
              srcset="
                /src/images/desktop/main-page/hero-2-desktop@1x.jpg 1x,
                /src/images/desktop/main-page/hero-2-desktop@2x.jpg 2x,
                /src/images/desktop/main-page/hero-2-desktop@3x.jpg 3x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /src/images/tablet/main-page/hero-2-tablet@1x.jpg 1x,
                /src/images/tablet/main-page/hero-2-tablet@2x.jpg 2x,
                /src/images/tablet/main-page/hero-2-tablet@3x.jpg 3x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /src/images/mobile/main-page/hero-2-mobile@1x.jpg 1x,
                /src/images/mobile/main-page/hero-2-mobile@2x.jpg 2x,
                /src/images/mobile/main-page/hero-2-mobile@3x.jpg 3x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/src/images/desktop/main-page/hero-2-desktop@1x.jpg"
              alt="Лампи"
              class="main-hero__img"
              width="203"
              height="203"
            />
          </picture>
        </li>
        <li class="main-hero__item">
          <picture class="main-hero__picture">
            <source
              srcset="
                /src/images/desktop/main-page/hero-3-desktop@1x.jpg 1x,
                /src/images/desktop/main-page/hero-3-desktop@2x.jpg 2x,
                /src/images/desktop/main-page/hero-3-desktop@3x.jpg 3x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /src/images/tablet/main-page/hero-3-tablet@1x.jpg 1x,
                /src/images/tablet/main-page/hero-3-tablet@2x.jpg 2x,
                /src/images/tablet/main-page/hero-3-tablet@3x.jpg 3x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /src/images/mobile/main-page/hero-3-mobile@1x.jpg 1x,
                /src/images/mobile/main-page/hero-3-mobile@2x.jpg 2x,
                /src/images/mobile/main-page/hero-3-mobile@3x.jpg 3x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/src/images/desktop/main-page/hero-3-desktop@1x.jpg"
              alt="Череп"
              class="main-hero__img"
              width="203"
              height="203"
            />
          </picture>
        </li>
      </ul>
      <p class="hero__after-title">Ми втілюємо ідеї в реальність</p>
    </div>

    <div class="main-hero__bg-wrap">
      <!-- <div class="main-hero__bg-picture main-hero__bg-picture--1"></div>
      <div class="main-hero__bg-picture main-hero__bg-picture--2"></div>
      <div class="main-hero__bg-picture main-hero__bg-picture--3"></div>
      <div class="main-hero__bg-picture main-hero__bg-picture--4"></div>
      <div class="main-hero__bg-picture main-hero__bg-picture--5"></div> -->
      <div class="main-hero__bg-picture main-hero__bg-picture--arrow">
        <a
          href="#gallery"
          class="main-hero__link-arrow"
          aria-label="Посилання на галерею"
        >
          <svg class="main-hero__icon-arrow" width="16" height="16">
            <use href="/src/images/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
