<!-- <section class="more-photo">
  <h2 class="more-photo__title">Більше фото</h2>
  <div class="container">
    <ul class="more-photo__list list">
      <li class="more-photo__item"></li>
      <li class="more-photo__item"></li>
      <li class="more-photo__item"></li>
      <li class="more-photo__item"></li>
      <li class="more-photo__item"></li>
      <li class="more-photo__item"></li>
      <li class="more-photo__item"></li>
      <li class="more-photo__item"></li>
      <li class="more-photo__item"></li>
      <li class="more-photo__item"></li>
      <li class="more-photo__item"></li>
      <li class="more-photo__item"></li>
    </ul>
  </div>
</section> -->
