<section class="scan-process">
    <div class="container">
        <h2 class="scan-process_title">ПРОЦЕС <span lang="en">3D</span> СКАНУВАННЯ</h2>
        
        <ul class="scan-process_list">
            <li class="scan-process_item">   
                <h3 class="process-sub_title">
                    Підготовка деталі до сканування
                </h3>
            </li>
            <li class="scan-process_item">
                <h3 class="process-after_title">
                    Створення сканів і їх обробка
                </h3>
            </li>
            <li class="scan-process_item">
                <h3 class="process-after_title">
                    Перетворення <span lang="en">reverse engineering</span>
                </h3>
            </li>
            <li class="scan-process_item">
                <h3 class="process-after_title">
                    Підготовка моделі до друку
                </h3>
            </li>
        </ul>
        
    </div>

</section>