<section class="scan-process">
    <div class="container">
        <h2 class="scan-process_title">ПРОЦЕС <span lang="en">3D</span> СКАНУВАННЯ</h2>
        
        <ul class="scan-process_list">
            <li class="scan-process_item">
                <div class="">
                
                </div>
                 <!-- <picture>
                    <source
                     srcset="./images/desctop/3d-scanning-page/scan-process-1-desctop@1x.jpg 1x,
                             ./images/desctop/3d-scanning-page/scan-process-1-desctop@2x.jpg 2x,
                             ./images/desctop/3d-scanning-page/scan-process-1-desctop@3x.jpg 3x
                             "
                   media="(min-width: 1440px)"/>
                   <source
                     srcset="./images/tablet/3d-scanning-page/scan-process-1-tablet@1x.jpg 1x,
                             ./images/tablet/3d-scanning-page/scan-process-1-tablet@2x.jpg 2x,
                             ./images/tablet/3d-scanning-page/scan-process-1-tablet@3x.jpg 3x
                             "
                   media="(min-width: 768px)"/>
                   <source
                     srcset="./images/mobile/3d-scanning-page/scan-process-1-mobile@1x.jpg 1x,
                             ./images/mobile/3d-scanning-page/scan-process-1-mobile@2x.jpg 2x,
                             ./images/mobile/3d-scanning-page/scan-process-1-mobile@3x.jpg 3x
                             "
                   media="(min-width: 767px)"/>
                   <img class="scan-process__img"
                   src="./images/mobile/3d-scanning-page/scan-process-1-mobile@1x.jpg"
                   alt="Підготовка деталі до сканування"
                   />
                 </picture> -->
                   
                <h3 class="process-sub_title">
                    Підготовка деталі до сканування
                </h3>
            </li>
            <li class="scan-process_item">
                <!-- <picture>
                    <source
                    srcset="./images/desctop/3d-scanning-page/scan-process-2-desctop@1x.jpg 1x,
                            ./images/desctop/3d-scanning-page/scan-process-2-desctop@2x.jpg 2x,
                            ./images/desctop/3d-scanning-page/scan-process-2-desctop@3x.jpg 3x
                            "
                  media="(min-width: 1440px)"/>
                  <source
                    srcset="./images/tablet/3d-scanning-page/scan-process-2-tablet@1x.jpg 1x,
                            ./images/tablet/3d-scanning-page/scan-process-2-tablet@2x.jpg 2x,
                            ./images/tablet/3d-scanning-page/scan-process-2-tablet@3x.jpg 3x
                            "
                  media="(min-width: 768px)"/>
                  <source
                    srcset="./images/mobile/3d-scanning-page/scan-process-2-mobile@1x.jpg 1x,
                            ./images/mobile/3d-scanning-page/scan-process-2-mobile@2x.jpg 2x,
                            ./images/mobile/3d-scanning-page/scan-process-2-mobile@3x.jpg 3x
                            "
                  media="(min-width: 767px)"/>
                  <img class="scan-process__img"
                  src="./images/mobile/3d-scanning-page/scan-process-2-mobile@1x.jpg"
                  alt="Створення сканів"
                  /></picture>
                 -->
                <h3 class="process-after_title">
                    Створення сканів і їх обробка
                </h3>
            </li>
            <li class="scan-process_item">
                <!-- <picture>
                    <source
                    srcset="./images/desctop/3d-scanning-page/scan-process-3-desctop@1x.jpg 1x,
                            ./images/desctop/3d-scanning-page/scan-process-3-desctop@2x.jpg 2x,
                            ./images/desctop/3d-scanning-page/scan-process-3-desctop@3x.jpg 3x
                            "
                  media="(min-width: 1440px)"/>
                  <source
                    srcset="./images/tablet/3d-scanning-page/scan-process-3-tablet@1x.jpg 1x,
                            ./images/tablet/3d-scanning-page/scan-process-3-tablet@2x.jpg 2x,
                            ./images/tablet/3d-scanning-page/scan-process-3-tablet@3x.jpg 3x
                            "
                  media="(min-width: 768px)"/>
                  <source
                    srcset="./images/mobile/3d-scanning-page/scan-process-3-mobile@1x.jpg 1x,
                            ./images/mobile/3d-scanning-page/scan-process-3-mobile@2x.jpg 2x,
                            ./images/mobile/3d-scanning-page/scan-process-3-mobile@3x.jpg 3x"
                  media="(min-width: 767px)"/>
                  <img class="scan-process__img"
                  src="./images/mobile/3d-scanning-page/scan-process-3-mobile@1x.jpg"
                  alt="Перетворення"
                  />
                </picture> -->
                
                <h3 class="process-after_title">
                    Перетворення <span lang="en">reverse engineering</span>
                </h3>
            </li>
            <li class="scan-process_item">
                <!-- <picture>
                    <source
                    srcset="./images/desctop/3d-scanning-page/scan-process-4-desctop@1x.jpg 1x,
                            ./images/desctop/3d-scanning-page/scan-process-4-desctop@2x.jpg 2x,
                            ./images/desctop/3d-scanning-page/scan-process-4-desctop@3x.jpg 3x
                            "
                   media="(min-width: 1440px)"/>
                  <source
                    srcset="./images/tablet/3d-scanning-page/scan-process-4-tablet@1x.jpg 1x,
                            ./images/tablet/3d-scanning-page/scan-process-4-tablet@2x.jpg 2x,
                            ./images/tablet/3d-scanning-page/scan-process-4-tablet@3x.jpg 3x
                            "
                   media="(min-width: 768px)"/>
                  <source
                    srcset="./images/mobile/3d-scanning-page/scan-process-4-mobile@1x.jpg 1x,
                            ./images/mobile/3d-scanning-page/scan-process-4-mobile@2x.jpg 2x,
                            ./images/mobile/3d-scanning-page/scan-process-4-mobile@3x.jpg 3x
                            "
                   media="(min-width: 767px)"/>
                  <img class="scan-process__img"
                  src="./images/mobile/3d-scanning-page/scan-process-4-mobile@1x.jpg"
                  alt="Підготовка моделі до друку"
                  />
                </picture> -->
                
                <h3 class="process-after_title">
                    Підготовка моделі до друку
                </h3>
            </li>
        </ul>
        
    </div>

</section>