.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(43, 43, 43, 0.8);

  overflow-y: scroll;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms $timing-function, visibility 250ms $timing-function;
}

//.backdrop
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms $timing-function 250ms,
    visibility 250ms $timing-function 250ms;
}

.carousel__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 80%;
  min-width: 236px;
  min-height: 157px;
  transition: transform 250ms linear 250ms, opacity 250ms linear 250ms;

  @include mobile {
    width: 390px;
    height: 259px;
  }

  @include tablet {
    width: 554px;
    height: 369px;
  }

  @include desktop {
    width: 906px;
    height: 605px;
  }
}
.carousel__slaider {
  @include centered-flex;

  overflow: hidden;
  @include mobile {
    width: 390px;
    height: 259px;
  }

  @include tablet {
    width: 554px;
    height: 369px;
  }

  @include desktop {
    width: 906px;
    height: 605px;
  }
}
.carousel__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
  @include mobile {
    width: 390px;
    height: 259px;
  }

  @include tablet {
    width: 554px;
    height: 369px;
  }

  @include desktop {
    width: 906px;
    height: 605px;
  }
}
.carousel__icon-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  @include centered-flex();
  border: none;
  outline: none;
  background-color: transparent;

  width: 21px;
  height: 21px;

  @include tablet {
    width: 42px;
    height: 42px;
  }
  @include desktop {
    width: 42px;
    height: 42px;
  }
}
.carousel__icon-btn--prev {
  left: -21px;

  @include tablet {
    left: -47px;
  }
  @include desktop {
    left: -74px;
  }
}
.carousel__icon-btn--next {
  right: -21px;
  @include tablet {
    right: -47px;
  }
  @include desktop {
    right: -74px;
  }
}
.carousel__icon {
  fill: #ffffff;
  width: 11px;
  height: 10px;

  @include tablet {
    width: 26px;
    height: 26px;
  }
  @include desktop {
    width: 42px;
    height: 42px;
  }
}

.transform {
  transition: all250ms $timing-function;
}

// .modal {
//   width: 95%;
//   height: auto;
//   transition: transform $animationModal;

//   border-radius: 4px;

//   box-shadow: $boxShadowTms;
//   }
//
//   .backdrop.is-hidden & {
//     transform: translate(-50%, -50%) scale(0);
//     transition: transform ;
//   }
