.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(43, 43, 43, 0.8);
  pointer-events: none;
  overflow-y: scroll;
  pointer-events: none;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms linear, visibility 250ms linear;
}
.backdrop.is-hidden {
  // opacity: 0;
  // visibility: hidden;
  // pointer-events: none;
  // transition: opacity 250ms linear, visibility 250ms linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  //   transition: opacity $animationDelay, visibility $animationDelay;
}

.carousel__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 236px;
  min-height: 157px;
  transition: transform 250ms linear 250ms, opacity 250ms linear 250ms;

  @include mobile {
    width: 390px;
    height: 259px;
  }

  @include tablet {
    width: 554px;
    height: 369px;
  }

  @include desktop {
    width: 906px;
    height: 605px;
  }
}
.carousel__slaider {
  display: flex;
  overflow: hidden;
}
.carousel__img {
}

.carousel__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  outline: none;
  fill: #ffffff;

  width: 11px;
  height: 10px;

  @include tablet {
    width: 26px;
    height: 26px;
  }
  @include desktop {
    width: 42px;
    height: 42px;
  }
}

.carousel__icon--left {
  left: -21px;

  @include tablet {
    left: -47px;
  }
  @include desktop {
    left: -74px;
  }
}
.carousel__icon--right {
  right: -21px;
  @include tablet {
    right: -47px;
  }
  @include desktop {
    right: -74px;
  }
}
.transformanimation {
  transition: 4s all ease-in-out;
}

// .modal {
//   width: 95%;
//   height: auto;
//   transition: transform $animationModal;

//   border-radius: 4px;

//   box-shadow: $boxShadowTms;
//   }
//
//   .backdrop.is-hidden & {
//     transform: translate(-50%, -50%) scale(0);
//     transition: transform ;
//   }
