.gallery {
  padding-bottom: 40px;

  @include tablet {
    padding-bottom: 60px;
  }
  @include desktop {
    padding-bottom: 120px;
  }
}
.gallery__container {
  @include desktop {
    padding-left: 149px;
    padding-right: 149px;
  }
}
.gallery__title {
  @include font(24px, 700, 30px, null);

  color: $secondary-color-text;
  text-transform: uppercase;
  margin-bottom: 16px;

  @include tablet {
    @include font(36px, 700, 45px, null);
    margin-bottom: 32px;
  }
  @include desktop {
    @include font(48px, 700, 60px, null);
    margin-bottom: 62px;
  }
}
.gallery__list {
  height: auto;
  margin: 0 auto;
  background-color: transparent;
  @media screen and (max-width: 767px) {
    max-width: 440px;
  }

  @include tablet {
    height: auto;
    display: grid;
    // grid-gap: 11px;
    background-color: transparent;
    grid-gap: 32px;
    width: 704px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(178px, auto);
  }
  @include desktop {
    width: 1142px;
    grid-auto-rows: minmax(249px, auto);
  }
}

.gallery__item {
  max-width: 440px;

  &:nth-child(2n + 1) {
    margin-bottom: 24px;
  }
  &:nth-child(2) {
    margin-bottom: 11px;
  }
  @include tablet {
    margin-bottom: 0;
  }
}
.gallery__picture {
  margin-bottom: 8px;
  &--second {
    margin-bottom: 20px;
  }

  @include tablet {
    margin-bottom: 16px;
  }
}

.gallery__subtitle {
  @include font(16px, 300, 20px, null);
  color: $secondary-color-text;
  margin-bottom: 24px;
  &--second,
  &--last {
    margin-bottom: 0;
  }
  @include tablet {
    @include font(16px, 300, 20px, null);
    margin-bottom: 0;
  }
  @include desktop {
    @include font(18px, 300, 23px, null);
  }
}

// .gallery__subtitle--second,
// .gallery__subtitle--last {
//   margin-bottom: 0;
// }
