.main-hero {
  padding-top: 40px;
  padding-bottom: 40px;

  @include tablet {
    padding-top: 34px;
    padding-bottom: 60px;
  }
  @include desktop {
    padding-top: 98px;
    padding-bottom: 120px;
  }
}
.main-hero__container {
  position: relative;
}

.main-hero__title {
  text-align: center;
  margin: 0 auto 32px;
  font-family: 'Caviar Dreams', sans-serif;
  @include font(18px, 400, 1.17, null);
  @media screen and (max-width: 1439px) {
    max-width: 336px;
  }
  @include tablet {
    @include font(24px, 400, 1.17, null);
    margin-bottom: 60px;
  }
  @include desktop {
    max-width: 630px;
    @include font(48px, 400, 1.17, null);
  }
}
.hero__after-title {
  text-align: center;
  font-family: 'Caviar Dreams', sans-serif;
  @include font(16px, 400, 1.19, null);

  @include tablet {
    @include font(18px, 400, 1.17, null);
  }
  @include desktop {
    @include font(36px, 400, 1.17, null);
  }
}
.main-hero__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 32px;
  width: 100%;
  @include tablet {
    width: 400px;
    margin-bottom: 60px;
  }
  @include desktop {
    width: 672px;
  }
}
.main-hero__item {
  flex-basis: calc((100% - 2 * 15px) / 3);
  overflow: hidden;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.3);
  @include tablet {
    flex-basis: calc((100% - 2 * 29px) / 3);
  }
  @include desktop {
    flex-basis: calc((100% - 2 * 32px) / 3);
  }
}
.main-hero__item:nth-child(1) {
  border-radius: 0 35px 0 0;

  @include desktop {
    border-radius: 0 72px 0 0;
  }
}
.main-hero__item:nth-child(2) {
  border-radius: 50%;
}
.main-hero__item:nth-child(3) {
  border-radius: 0 25px;
  @include desktop {
    border-radius: 0 72px;
  }
}
.main-hero__picture,
.main-hero__img {
  width: 100%;
  object-fit: cover;
}

.main-hero__link-arrow {
  scale: 1;

  transition: scale 250ms $timing-function;

  &:hover,
  &:focus {
    transform: scale(2);

    // transition: scale 250ms $timing-function;
  }
}
.main-hero__icon-arrow {
  fill: #008cef;
  @include tablet {
    width: 16px;
    height: 16px;
  }
  @include desktop {
    width: 32px;
    height: 32px;
  }
}
