.main-hero__bg-wrap {
  display: none;

  @include tablet {
    display: block;
  }
}

.main-hero__bg-picture {
  position: absolute;
  // width: 73.65px;
  // height: 74.05px;
  border-radius: 72px;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: cover;

  filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.25));

  @include desktop {
    // width: 144.18px;
    // height: 144.29px;
    z-index: 0;
  }

  &--1 {
    background-image: url('../images/tablet/decor/decor-1-tablet@1x.jpg');
    top: -33px;
    left: 107.48px;

    @include retina {
      background-image: url('../images/tablet/decor/decor-1-tablet@2x.jpg');
    }

    @include desktop {
      background-image: url('../images/desktop/decor/decor-1-desktop@1x.jpg');
      top: -50px;
      left: 170.48px;
      @include retina {
        background-image: url('../images/desktop/decor/decor-1-desktop@2x.jpg');
      }
    }
  }

  &--2 {
    background-image: url('../images/tablet/decor/decor-2-tablet@1x.jpg');

    border-radius: 0px 0px 72px 0px;
    top: -27px;
    right: 31.65px;

    @include retina {
      background-image: url('../images/tablet/decor/decor-2-tablet@2x.jpg');
    }

    @include desktop {
      background-image: url('../images/desktop/decor/decor-2-desktop@1x.jpg');
      top: -44px;
      right: 28.65px;
      @include retina {
        background-image: url('../images/desktop/decor/decor-2-desktop@2x.jpg');
      }
    }
  }

  &--3 {
    background-image: url('../images/tablet/decor/decor-3-tablet@1x.jpg');

    bottom: -20px;
    left: 35px;

    @include retina {
      background-image: url('../images/tablet/decor/decor-3-tablet@2x.jpg');
    }
    @include desktop {
      background-image: url('../images/desktop/decor/decor-3-desktop@1x.jpg');
      bottom: -140px;
      left: 30px;
      @include retina {
        background-image: url('../images/desktop/decor/decor-3-desktop@2x.jpg');
      }
    }
  }

  &--4 {
    background-image: url('../images/tablet/decor/decor-4-tablet@1x.jpg');

    border-radius: 72px 72px 0px 0px;
    right: 31.65px;
    bottom: 56.76px;

    @include retina {
      background-image: url('../images/tablet/decor/decor-4-tablet@2x.jpg');
    }
    @include desktop {
      background-image: url('../images/desktop/decor/decor-4-desktop@1x.jpg');
      bottom: -55px;
      right: 31.65px;
      @include retina {
        background-image: url('../images/desktop/decor/decor-4-desktop@2x.jpg');
      }
    }
  }

  &--5 {
    display: none;

    @include desktop {
      display: block;
      background-image: url('../images/desktop/decor/decor-5-desktop@1x.jpg');
      bottom: -175%;
      right: 31.65px;

      @include retina {
        background-image: url('../images/desktop/decor/decor-5-desktop@2x.jpg');
      }
    }
  }
  &--arrow {
    @include tablet {
      @include centered-flex();
      bottom: 97px;
      left: 133px;
    }
    @include desktop {
      left: 230px;
      bottom: 85px;
    }
  }
}
