.more-photo {
  padding: 90px 0;
}

.more-photo__container {
  //   position: relative;
}

// .container {
//   width: 100%;
//   margin: 0 auto;
//   padding: 0 20px;

//   @media screen and (min-width: 1440px) {
//     width: 1440px;
//     margin: 0 auto;
//     padding: 0 32px;
//   }
// }
.more-photo__title {
  @include font(24px, 700, 30px, null);

  color: $secondary-color-text;
  text-transform: uppercase;
  margin-bottom: 16px;

  @include tablet {
    @include font(36px, 700, 45px, null);
    margin-bottom: 32px;
  }
  @include desktop {
    @include font(48px, 700, 60px, null);
    margin-bottom: 62px;
  }
}

.more-photo__list {
  display: grid;
  //   grid-template-columns: 2 50%;
  grid-template-rows: auto;
}
.more-photo__list {
  height: auto;
  width: 1142px;
  margin: 0 auto;
  display: grid;
  grid-auto-rows: (273px 273px 203px 273px);
  grid-template-columns: (1fr 1fr 202px 1fr 1fr);
  grid-template-columns: subgrid;
  grid-gap: 32px;
  background-color: pink;
  counter-reset: more-photo__item;
  list-style: none;

  //   @include tablet {
  //   }
  //   @include desktop {
  //   }
}

.more-photo__item {
  position: relative;
}
.more-photo__item:nth-child(6n + 1) {
  grid-column: 1/3;
  background: purple;
}

.more-photo__item:nth-child(6n + 2) {
  grid-column: 3/5;
  background: grey;
}

.more-photo__item:nth-child(6n + 3) {
  grid-column: 5/6;
  background: rgb(22, 41, 204);
}
.more-photo__item:nth-child(6n + 4) {
  grid-column: 1/2;
  background: rgb(22, 41, 204);
}
.more-photo__item:nth-child(6n + 5) {
  grid-column: 2/4;
  background: rgb(22, 41, 204);
}

.more-photo__item:nth-child(6n + 6) {
  grid-column: 4/6;
  background: rgb(22, 41, 204);
}
