.more-photo {
  padding-bottom: 60px;

  @include tablet {
    padding-bottom: 80px;
  }

  @include desktop {
    padding-bottom: 156px;
  }
}

.more-photo__container {
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    position: relative;
  }

  @include desktop {
    padding-left: 149px;
    padding-right: 149px;
  }
}

.more-photo__title {
  @include font(24px, 700, 30px, null);

  color: $secondary-color-text;
  text-transform: uppercase;
  margin-bottom: 16px;

  @include tablet {
    @include font(36px, 700, 45px, null);
    margin-bottom: 32px;
  }
  @include desktop {
    @include font(48px, 700, 60px, null);
    margin-bottom: 62px;
  }
}

.more-photo__list {
  height: auto;
  margin: 0 auto 16px;
  display: grid;
  counter-reset: more-photo__item;
  gap: 16px;

  @include tablet {
    width: 704px;
    grid-template-columns: 152px 1fr 152px 1fr 152px;
    grid-template-rows: 180px 180px 152px 180px;
    grid-gap: 32px;
  }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    margin-bottom: 0;
  }
  @include desktop {
    margin-bottom: 12px;
    width: 1142px;
    grid-template-columns: 203px 1fr 202px 1fr 203px;
    grid-template-rows: minmax(150px, auto);
    grid-gap: 32px;
  }
}

@media screen and (max-width: 767px) {
  .more-photo__item:nth-child(n + 4) {
    display: none;
  }
}
@include tablet {
  .more-photo__item:nth-child(6n + 1) {
    grid-column: 1/3;
  }

  .more-photo__item:nth-child(6n + 2) {
    grid-column: 3/5;
  }

  .more-photo__item:nth-child(6n + 3) {
    grid-column: 5/6;
  }
  .more-photo__item:nth-child(6n + 4) {
    grid-column: 1/2;
  }
  .more-photo__item:nth-child(6n + 5) {
    grid-column: 2/4;
  }

  .more-photo__item:nth-child(6n + 6) {
    grid-column: 4/6;
  }
}

.more-photo__icon-wrap {
  width: 45px;
  height: 45px;
  margin: 0 auto;
  padding: auto;
  border: none;
  outline: none;
  background-color: transparent;

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    position: absolute;
    bottom: 68px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include desktop {
    width: 43px;
    height: 43px;
  }
}
.more-photo__icon-louder {
  stroke: $secondary-color-text;
  animation-name: spin;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    stroke: $primary-bgc;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
