.hero {
  padding: 40px 0;
}

.hero__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #487996;

}

.hero__video {
  border-radius: 15px;
  height: 280px;
  overflow: hidden;
}

.hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2b2b2b;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
