.contact-hero {
  padding: 40px 0;

  @include desktop {
    padding: 100px 0;
  }
}

.contact-hero__container {
  @include desktop {
    padding-left: 149px;
  }
}

.contact-hero__title {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $secondary-color-text;

  @include tablet {
    font-size: 36px;
  }

  @include desktop {
    margin-bottom: 24px;
    font-size: 48px;
  }
}

.contact-hero_wrap {
  @include tablet {
    display: flex;
    gap: 32px;
  }
}

.contact-hero__box-video {
  margin-bottom: 16px;
  max-width: 280px;
  height: 171px;
  border-radius: 15px;
  overflow: hidden;

  @media screen and (min-width: 321px) {
    max-width: 100%;
    height: 200px;
  }

  @include tablet {
    width: 336px;
    height: 261px;
    margin-bottom: 0;
  }

  @include desktop {
    width: 555px;
    height: 315px;
  }
}

.contact-hero__video {
  width: 100%;
  height: 100%;
}

.contact-hero__box-text {
  @include tablet {
    max-width: 335px;
  }

  @include desktop {
    max-width: 515px;
  }
}

.contact-hero__text {
  font-family: 'Cera Pro Light';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include desktop {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.28;
  }

  &:last-child {
    &::after {
      content: '';
      display: inline-block;
      width: 22px;
      height: 22px;
      position: absolute;
      background-image: url(../images/mobile/contacts-page/emoji-tablet-mobile@3x.jpg);
      background-repeat: no-repeat;

      background-size: contain;
      margin-left: 8px;

      @include tablet {
        margin-left: 21px;
      }

      @include desktop {
        display: block;
        width: 49px;
        height: 49px;
        margin-left: 0;
        margin-top: 56px;
      }
    }
  }
}
