.contact-hero {
  padding-top: 40px;
  padding-bottom: 40px;

  @include desktop {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.contact-hero__container {
  @include desktop {
    padding-left: 149px;
  }
}

.contact-hero__title {
  margin-bottom: 16px;

  @include font(24px, 700, 1.25, null);
  text-transform: uppercase;
  color: $secondary-color-text;

  @include tablet {
    font-size: 36px;
  }

  @include desktop {
    margin-bottom: 24px;
    font-size: 48px;
  }
}

.contact-hero_wrap {
  @include tablet {
    display: flex;
    gap: 32px;
  }
}

.contact-hero__box-video {
  margin-bottom: 16px;
  max-width: 280px;
  height: 171px;
  border-radius: 15px;
  overflow: hidden;

  @media screen and (min-width: 321px) {
    max-width: 100%;
    height: 200px;
  }

  @include tablet {
    width: 336px;
    height: 261px;
    margin-bottom: 0;
  }

  @include desktop {
    width: 555px;
    height: 315px;
  }
}

.contact-hero__video {
  width: 100%;
  height: 100%;
  border: none;
}

.contact-hero__box-text {
  @include tablet {
    max-width: 335px;
  }

  @include desktop {
    max-width: 515px;
  }
}

.contact-hero__text {
  @include font(16px, 400, 1.25, null);

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include desktop {
    @include font(18px, 300, 1.28, null);
  }

  &:last-child {
    &::after {
      content: '';
      display: inline-block;
      width: 22px;
      height: 22px;
      position: absolute;
      background-image: url(../images/mobile/contacts-page/emoji-tablet-mobile@1x.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      margin-left: 8px;

      @include retina {
        background-image: url(../images/mobile/contacts-page/emoji-tablet-mobile@2x.jpg);
      }

      @include retina3x {
        background-image: url(../images/mobile/contacts-page/emoji-tablet-mobile@3x.jpg);
      }

      @include tablet {
        margin-left: 21px;
      }

      @include desktop {
        background-image: url(../images/desktop/contacts-page/emoji-desktop@1x.jpg);
        display: block;
        width: 49px;
        height: 49px;
        margin-left: 0;
        margin-top: 56px;

        @include retina {
          background-image: url(../images/desktop/contacts-page/emoji-desktop@2x.jpg);
        }

        @include retina3x {
          background-image: url(../images/desktop/contacts-page/emoji-desktop@3x.jpg);
        }
      }
    }
  }
}
