<section class="contacts">
  <div class="contacts__container">
    <h2 class="contacts__title">Контакти</h2>
    <div class="wrap-tel">
      <p class="contacts__subtitle">Телефони</p>
      <address class="contacts__tel">
        <ul class="contacts__list">
          <li class="contacts__item">
            <a href="tel:+380957384551" class="contacts__link"
              >+38 (095) -73-84-551</a
            >
          </li>
          <li class="contacts__item">
            <a href="tel:+380980025235" class="contacts__link"
              >+38 (098) -00-25-235</a
            >
          </li>
        </ul>
      </address>
    </div>

    <div class="wrap-mail">
      <p class="contacts__subtitle contacts__subtitle--capitalize">Email</p>
      <address class="contacts__mail">
        <a class="contacts__link" href="mailto:3dfreedom.info@gmail.com"
          >3dfreedom.info@gmail.com</a
        >
      </address>
    </div>

    <div class="wrap-hour">
      <p class="contacts__subtitle">Робочий час</p>
      <ul class="contacts__list">
        <li class="contacts__item">
          <p class="contacts__text">Пн-пт:</p>
          <p class="contacts__text">З 8:00 До 19:00</p>
        </li>
        <li class="contacts__item">
          <p class="contacts__text">Сб, Нд:</p>
          <p class="contacts__text">З 10:00 До 17:00</p>
        </li>
      </ul>
    </div>

    <div class="wrap-mosaic">
      <picture>
        <source
          srcset="
            ./images/desktop/take-order-page/mosaic-desktop@1x.jpg 1x,
            ./images/desktop/take-order-page/mosaic-desktop@2x.jpg 2x,
            ./images/desktop/take-order-page/mosaic-desktop@3x.jpg 3x
          "
          media="(min-width: 1440px)"
        />
        <img
          class="wrap-mosaic__photo"
          src="./images/desktop/take-order-page/mosaic-desktop@1x.jpg"
          alt="Мозаїка"
        />
      </picture>

      <div class="wrap-mosaic__box">
        <div class="wrap-mosaic__1"></div>
        <div class="wrap-mosaic__2"></div>
        <div class="wrap-mosaic__3"></div>
        <div class="wrap-mosaic__4"></div>
        <div class="wrap-mosaic__5"></div>
        <div class="wrap-mosaic__6"></div>
      </div>
    </div>
  </div>
</section>
