<section class="order-page-hero">
  <div class="order-page container">
    <h1 class="hero-title">зробити замовлення</h1>

    <div class="hero-description">
      <div class="hero-bg"></div>
      <div class="hero-section">
        <div class="hero-list">
          <p class="hero-item">
            На цій сторінці ви можете зробити замовлення заповнивши форму і ми
            зв'яжемося з вами.
          </p>
          <p class="hero-item">
            Наші фахівці допоможуть підібрати оптимальні для вас параметри і
            дадуть відповідь на всі ваші запитання.
          </p>
        </div>
        <div class="hero-pictures">
          <div class="hero-picture-1"></div>
          <div class="hero-picture-2"></div>
          <div class="hero-picture-3"></div>
        </div>
      </div>
    </div>
  </div>
</section>
