<section class="order-section">
  <div class="order-container">
    <h2 class="order-form__title">Зв'яжіться з нами</h2>
    <form class="order-form">
      <div class="order-form__field">
        <input
          type="text"
          class="order-form__field-input"
          name="name"
          placeholder=" "
          id="name"
        />
        <label for="name" class="order-form__field-label">Ім'я</label>
      </div>

      <div class="order-form__field">
        <input
          type="email"
          class="order-form__field-input"
          name="mail"
          placeholder=" "
          id="mail"
        />
        <label for="mail" class="order-form__field-label">Email</label>
      </div>

      <div class="order-form__field">
        <input
          type="text"
          class="order-form__field-input"
          name="plastic"
          placeholder=" "
          id="plastic"
        />
        <label for="plastic" class="order-form__field-label">
          Види пластика</label
        >
      </div>

      <div class="order-form__field">
        <input
          type="text"
          class="order-form__field-input"
          name="quality"
          placeholder=" "
          id="quality"
        />
        <label for="quality" class="order-form__field-label"
          >Якість друку</label
        >
      </div>
      <div class="order-form__field last">
        <input
          type="text"
          class="order-form__field-input"
          name="color"
          placeholder=" "
          id="color"
        />
        <label for="color" class="order-form__field-label">Колір</label>
      </div>

      <div class="order-form__message">
        <label for="comment">Повідомлення</label>
        <textarea
          name="comment"
          id="comment"
          placeholder="Залишіть своє повідомлення"
        ></textarea>

        <p class="order-form__instruction">
          *Прикріпіть зображення/креслення/STL/Obj/<br class="br" />CAD-модель
        </p>
        <label for="file-select">
          <svg class="add-file-icon" width="22" height="20">
            <use href="/src/images/icons.svg#icon-paper-clip"></use>
          </svg>
        </label>
        <input class="select-file" type="file" name="file" id="file-select" />
      </div>
      <button type="submit" class="button-send">Відправити</button>
    </form>
  </div>
</section>
