.wrapper {
  position: absolute;
  top: 6vh;
  right: -2vw;
  opacity: 1;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  @media screen and (min-width: 340px) {
    top: 6vh;
    right: 7vw;
  }
}

.modal-phone {
  position: relative;
  width: 162px;
  height: 82px;
  padding: 16px 6px;
  border-radius: 2px;
  background-color: #ffffff;

  &::after {
    position: absolute;
    z-index: -1;
    content: '';

    top: -12px;
    left: 50%;
    margin: auto;
    transform: translateX(-50%);
    width: 38px;
    height: 38px;
    border-radius: 2px;

    background-color: #ffffff;
    rotate: 45deg;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  }
}

.wrapper:not(.is-open) {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.wrapper.is-open {
  transform: translateX(0);
}

.mobile-phones {
  list-style: none;
}

.mobile-phones__list {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}

.mobile-phones__link {
  text-decoration: none;
  font-family: Cera Pro;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #2b2b2b;
}
