.container {
  // outline: 1px solid #000;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @include mobile {
    max-width: 480px;
  }

  @include tablet {
    max-width: 768px;
    padding: 0 32px;
  }

  @include desktop {
    max-width: 1440px;
  }
}
