.order-form {
  max-width: 280px;
  justify-content: center;

  margin: auto;

  @include tablet {
    max-width: 400px;
    position: relative;
  }
  @include desktop {
    min-width: 555px;
    margin-top: 10px;
  }
}

.order-form__title {
  @include font(18, 700, 1.28, null);

  color: $secondary-color-text;

  padding-bottom: 16px;
  @include tablet {
    text-align: center;
    @include font(24, 700, 1.28, null);
  }
  @include desktop {
    text-align: left;
    @include font(36, 700, 1.28, null);
  }
}

.order-form__field {
  width: 280px;
  height: 44px;
  position: relative;
  margin-bottom: 20px;

  @include tablet {
    width: 400px;
  }
  @include desktop {
    width: 555px;
  }
}

.order-form__field input {
  border: none;
  border-bottom: 1px solid $secondary-color-text;
  width: 100%;
  height: 44px;

  @include tablet {
    width: 400px;
  }
  @include desktop {
    width: 555px;
  }
  &:focus {
    outline: none;
  }

  &:focus + .order-form__field-label {
    transform: translateY(-34px);
    @include font(14, 400, 1.25, null);
  }
  &:not(:placeholder-shown) + .order-form__field-label {
    transform: translateY(-34px);
    @include font(14, 400, 1.25, null);
  }
}

.order-form__field label {
  position: absolute;
  left: 0;
  bottom: 4px;

  transition: transform 250ms linear;

  color: $primary-color-text;
  @include font(16, 400, 1.25, null);

  @include desktop {
    @include font(18, 400, 1.25, null);
  }
}

.order-form__message {
  position: relative;
  width: 280px;
  height: 287px;
  margin-bottom: 40px;
  margin-top: 44px;
  @include tablet {
    width: 400px;
  }
  @include desktop {
    width: 555px;
  }
}

.order-form__message label {
  @include desktop {
    @include font(18, 400, 1.25, null);
  }
}

.order-form__message input {
  box-sizing: border-box;

  width: 280px;
  height: 199px;

  border: 1px solid $secondary-color-text;
  border-radius: 50px 0px;
  outline: none;
  padding-left: 20px;
  @include tablet {
    width: 400px;
  }
  @include desktop {
    width: 555px;
  }
}

.order-form__message input::placeholder {
  @include font(16, 400, 1.25, null);

  position: absolute;
  top: 22px;

  color: $placeholder-color;
  margin: 0;

  @include desktop {
    @include font(18, 400, 1.25, null);
  }
}

.order-form__icon {
  position: absolute;
  fill: $placeholder-color;
  bottom: -40px;
  right: 23px;
}
.order-form__instruction {
  @include font(16, 400, 1.25, null);

  color: $placeholder-color;
  @include desktop {
    @include font(18, 400, 1.25, null);
  }
}

.br {
  @include desktop {
    display: none;
  }
}

.button-send {
  width: 280px;
  height: 56px;

  @include font(16, 700, 1.25, null);
  color: $secondary-color-text;

  outline: none;
  border: none;

  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  background: $footer-bgc;
  box-shadow: -10px -10px 20px $primary-bgc,
    10px 10px 20px rgba(72, 121, 150, 0.1),
    5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px $primary-bgc;
  border-radius: 30.5px;

  @include tablet {
    max-width: 177px;
    position: absolute;
    right: 0;
  }
}
