.order-form {
  max-width: 280px;
  justify-content: center;

  margin: auto;

  @include tablet {
    max-width: 400px;
    position: relative;
  }
  @include desktop {
    min-width: 555px;
    margin-top: 10px;
  }
}
.order-form__field {
  width: 280px;
  height: 44px;
  position: relative;
  margin-bottom: 20px;

  @include tablet {
    width: 400px;
  }
  @include desktop {
    width: 555px;
  }
}

.order-form__field input {
  border: none;
  border-bottom: 1px solid $secondary-color-text;
  width: 280px;
  height: 44px;

  @include tablet {
    width: 400px;
  }
  @include desktop {
    width: 555px;
  }
}
.order-form__field label {
  position: absolute;
  bottom: 0px;
}
.order-form__title {
  font-family: 'Cera Pro';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.28;

  color: $secondary-color-text;

  margin-bottom: 8px;
  @include tablet {
    text-align: center;
    font-size: 24px;
  }
  @include desktop {
    text-align: left;
    font-size: 36px;
  }
}

.order-form__message {
  position: relative;
  width: 280px;
  height: 287px;
  margin-bottom: 40px;
  margin-top: 44px;
  @include tablet {
    width: 400px;
  }
  @include desktop {
    width: 555px;
  }
}

.order-form__message label {
  @include desktop {
    font-size: 18px;
  }
}
.order-form__field label {
  color: $primary-color-text;
  font-family: 'Cera Pro';
  font-size: 16px;
  line-height: 1.25;
  @include desktop {
    font-size: 18px;
  }
}
.order-form__message input {
  box-sizing: border-box;

  width: 280px;
  height: 199px;

  border: 1px solid $secondary-color-text;
  border-radius: 50px 0px;
  outline: none;
  padding-left: 20px;
  @include tablet {
    width: 400px;
  }
  @include desktop {
    width: 555px;
  }
}

.order-form__message input::placeholder {
  font-family: 'Cera Pro';
  font-size: 16px;
  line-height: 1.25;

  position: absolute;
  top: 22px;

  color: #cdcdcd;
  margin: 0;

  @include desktop {
    font-size: 18px;
  }
}

.order-form__icon {
  position: absolute;
  fill: #cdcdcd;
  bottom: -40px;
  right: 23px;
}
.order-form__instruction {
  font-family: 'Cera Pro';
  font-size: 16px;
  line-height: 1.25;

  color: #cdcdcd;
  @include desktop {
    font-size: 18px;
  }
}

.br {
  @include desktop {
    display: none;
  }
}

.button-send {
  width: 280px;
  height: 56px;

  font-family: 'Cera Pro';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: $secondary-color-text;

  outline: none;
  border: none;

  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  background: $footer-bgc;
  box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1),
    5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
  border-radius: 30.5px;

  @include tablet {
    max-width: 177px;
    position: absolute;
    right: 0;
  }
}
