.footer {
  background-color: $footer-bgc;
  padding-top: 32px;
  padding-bottom: 32px;

  @include desktop {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer-container {
  text-align: center;

  @include tablet {
    text-align: start;
  }
  @include desktop {
    display: flex;
  }
}

.logo-thumb {
  margin-bottom: 19px;

  @include tablet {
    margin-bottom: 20px;
    text-align: center;
  }

  @include desktop {
    margin-bottom: 0;
  }
}

.footer-content {
  @include tablet {
    display: flex;
  }

  @include desktop {
    margin-left: 277px;
  }
}

.footer-menu {
  margin-bottom: 24px;

  @include tablet {
    margin-bottom: 0px;
  }
}

.footer-menu-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-menu-link {
  @include font(16px, 400, 1.25, 0.01em);
  @include animation(color, null, null);
  color: $primary-color-text;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-soc {
  margin-bottom: 24px;

  @include tablet {
    margin-left: 52px;
    margin-bottom: 0px;
  }

  @include desktop {
    margin-left: 103px;
  }

  &-item:not(:last-child) {
    margin-bottom: 8px;
  }

  &-link {
    @include font(16px, 400, 1.25, 0.01em);
    @include animation(color, null, null);
    color: $primary-color-text;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.footer-address {
  @include tablet {
    text-align: right;
    margin-left: auto;
  }

  @include desktop {
    text-align: left;
    margin-left: 161px;
  }
}

.footer-mail {
  margin-bottom: 24px;

  @include tablet {
    margin-bottom: 16px;
  }
}

.contacts-title {
  @include font(16px, 400, 1.25, 0.01em);
  margin-bottom: 8px;
}

.address-mail__link {
  font-style: normal;
  @include font(16px, 400, 1.25, 0.01em);
  @include animation(color, null, null);
  color: $secondary-color-text;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.address-tel__item:not(:last-child) {
  margin-bottom: 8px;
}

.address-tel__link {
  @include font(16px, 400, 1.25, 0.01em);
  font-style: normal;
  @include animation(color, null, null);
  color: $secondary-color-text;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
