.footer {
  background-color: $footer-bgc;
}

.footer-container {

  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  width: 100%;
@media screen and (min-width: 768px) {
  text-align: start;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    
  }
}

.logo-thumb {
 
  display: flex;
  justify-content: center;

  @media screen and (min-width: 1440px) {
    margin-bottom: 0px;
  }

  }


.footer-content {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.footer-menu {
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }

  @media screen and (min-width: 1440px) {
    margin-left: 277px;
  }
}

.footer-menu-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-menu-link {
  @include font(16px, 400px, 1.25, 0.01em);
  color: $primary-color-text;
&:hover,
  &:focus {
    color: $accent-color;
    @include animation(color, null, null, $time: 250ms, $func: $timing-function)
  }
}

.footer-soc {
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-left: 52px;
    margin-bottom: 0px;
  }

  @media screen and (min-width: 1440px) {
    margin-left: 103px;
  }

  &-item:not(:last-child) {
    margin-bottom: 8px;
  }

  &-link {
    @include font(16px, 400px, 1.25, 0.01em);
    
    color: $primary-color-text;
    &:hover,
      &:focus {
        color: $accent-color;
        @include animation(color, null, null, $time: 250ms, $func: $timing-function)
      
  }
}
}


.footer-address {
  @media screen and (min-width: 768px) {
    text-align: right;
    margin-left: auto;
  }

  @media screen and (min-width: 1440px) {
    text-align: left;
    margin-left: 163px;
  }
}

.contacts-title {
  font-style: inherit;
  @include font(16px, 400px, 1.25, 0.01em);
  margin-bottom: 8px;
}

.address-mail {
  margin-bottom: 24px;
}

.address-mail__link{
  @include font(16px, 400px, 1.25, 0.01em);
  // @include font(400, 16, 1.25, 0.01em);
  color: $secondary-color-text;
  &:hover,
    &:focus {
      color: $accent-color;
      @include animation(color, null, null, $time: 250ms, $func: $timing-function)
    }
}
.address-tel__item:not(:last-child) {
  margin-bottom: 8px;
}

.address-tel__link {
  @include font(16px, 400px, 1.25, 0.01em);
  // @include font(400, 16, 1.25, 0.01em);
  color: $secondary-color-text;
  &:hover,
    &:focus {
      color: $accent-color;
      @include animation(color, null, null, $time: 250ms, $func: $timing-function)
    }
}
