.header-container {
  padding-top: 20px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 1440px) {
    padding-top: 40px;
  }
}

.logo {
  margin-right: 23px;

  @media screen and (min-width: 768px) {
    margin-right: 211px;
  }
}

.menu-open {
  padding: 0;
  width: 32px;
  height: 32px;
  margin-right: 45px;
  @media screen and (min-width: 768px) {
    margin-right: 99px;
  }
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  border-radius: 2px;

  @media screen and (min-width: 1440px) {
    display: none;
    @include animation(fill, null, null, 250ms, $timing-function);
  }

  &__icon {
    fill: $secondary-color-text;
  }

  &:hover .menu-open__icon,
  &:focus .menu-open__icon {
    fill: $accent-color;
  }
}

.tel-open {
  margin-right: 24px;
  padding-bottom: 2px;
  padding-top: 2px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  &__icon {
    fill: #008cef;
  }
  @include animation(fill, null, null, 250ms, $timing-function);

  &:hover .tel-open__icon,
  &:focus .tel-open__icon {
    fill: #224fe0;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.lang {
  padding-left: 10px;
  padding-right: 10px;
  @include font(14px, 700, 1.29, 0.01em);
  font-family: 'Caviar Dreams', sans-serif;
  border: none;
  color: #bdbdbd;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.tablet-contacts {
  @media screen and (min-width: 768px) {
    width: 180px;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.tab-contacts {
  &__item {
    &--top {
      padding-top: 10px;

      @media screen and (min-width: 768px) {
        padding-top: 0;
      }
    }
    &--bottom {
      padding-bottom: 10px;

      @media screen and (min-width: 768px) {
        padding-bottom: 0;
      }
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 10px;
  }
  &__link {
    @include font(16px, null, 1.25, 0.01em);
    font-family: 'Cera Pro', sans-serif;
    color: $primary-color-text;
    @include animation(color, null, null, 250ms, $timing-function);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__icon {
    fill: #008cef;
  }
}

.nav-right {
  display: flex;

  @media screen and (min-width: 768px) {
    gap: 38px;
  }
}

.desktop-nav {
  @media screen and (max-width: 1439px) {
    display: none;
  }
}

.nav-menu {
  display: flex;
  gap: 56px;

  &__link {
    position: relative;
    @include font(18px, null, 1.17, 0.01em);
    font-family: 'Caviar Dreams', sans-serif;
    text-align: center;
    color: $primary-color-text;
    @include animation(color, null, null, 250ms, $timing-function);

    &:hover,
    &:focus {
      color: $accent-color;
    }
    &--submenu::after {
      content: '';
      position: absolute;
      top: 50%;
      margin-left: 4px;
      border: solid transparent;
      border-top: solid $accent-color;
      width: 10px;
      height: 4px;
    }
  }

  &__item {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: -50%;
  width: 140px;
  z-index: 10;
  margin-top: 4px;
  text-align: center;

  &__item:not(:last-child) {
    margin-bottom: 4px;
  }

  &__link {
    @include font(16px, null, 1.19, 0.01em);
    font-family: 'Caviar Dreams', sans-serif;
    color: $primary-color-text;
    @include animation(color, null, null, 250ms, $timing-function);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.nav-menu__item:hover .submenu {
  display: block;
}
