<section class="method-of-creation-section">
  <div class="method-of-creation-container container">
    <div class="thumb-method">
      <div class="thumb-method__first">
        <h2 class="method-of-creation__title">Способи створення моделі:</h2>

        <ul class="method-of-creation__list">
          <li class="method-of-creation__item">
            <span lang="eng">3D</span> сканування
          </li>
          <li class="method-of-creation__item">
            На основі фотографій з доданими розмірами
          </li>
          <li class="method-of-creation__item">За ескізами з розмірами</li>
          <li class="method-of-creation__item">За вашим кресленням</li>
          <li class="method-of-creation__item">
            По вже існуючому прототипу шляхом зняття розмірів
          </li>
        </ul>
      </div>
      <div class="method-of-creation__bg"></div>
    </div>
  </div>
</section>
