<section class="modeling-hero" id="modeling">
  <div class="modeling-hero__container container">
    <h1 class="modeling-hero__main-title">
      <span lang="en">3D</span> моделювання
    </h1>
    <div class="modeling-hero__text">
      <p class="modeling-hero__text--item modeling-hero__text--first">
        Сфера 3D графіки може надати широкий спектр послуг. Але якщо
        спроектована модель буде створюватися шляхом 3D друку, обробки заготовки
        на ЧПУ станках або іншими виробничими методами, то до моделі
        преставляеться ряд інженерних вимог які повинен враховувати дизайнер при
        розробці моделі.
      </p>
      <p class="modeling-hero__text--item modeling-hero__text--second">
        Наші фахівці допоможуть вам визначитися з технічною стороною вироба і
        підготують модель для її створення. Ми маємо широкий спектр інструментів
        для вдоволення будь-якої вашої задачі.
      </p>
    </div>
  </div>
</section>
