<section class="model-examples">
  <div class="model-examples__container container">
    <h1 class="model-examples__title">Ми створюємо</h1>
    <ul class="model-examples__list">
      <li class="model-examples__item">
        <div class="model-examples__wrap">
          <picture>
            <source
              srcset="
                ./images/desktop/3d-printing-page/model-examples-1-desktop@1x.jpg 1x,
                ./images/desktop/3d-printing-page/model-examples-1-desktop@2x.jpg 2x,
                ./images/desktop/3d-printing-page/model-examples-1-desktop@3x.jpg 3x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/tablet/3d-printing-page/model-examples-1-tablet@1x.jpg 1x,
                ./images/tablet/3d-printing-page/model-examples-1-tablet@2x.jpg 2x,
                ./images/tablet/3d-printing-page/model-examples-1-tablet@3x.jpg 3x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/3d-printing-page/model-examples-1-mobile@1x.jpg 1x,
                ./images/mobile/3d-printing-page/model-examples-1-mobile@2x.jpg 2x,
                ./images/mobile/3d-printing-page/model-examples-1-mobile@3x.jpg 3x
              "
              media="(max-width: 767px)"
            />
            <img
              class="model-examples__img"
              src="./images/mobile/3d-printing-page/model-examples-1-mobile@1x.jpg"
              alt="Прототипи"
            />
          </picture>
        </div>
        <p class="model-examples__text">Прототипи</p>
      </li>
      <li class="model-examples__item">
        <div class="model-examples__wrap">
          <picture>
            <source
              srcset="
                ./images/desktop/3d-printing-page/model-examples-2-desktop@1x.jpg 1x,
                ./images/desktop/3d-printing-page/model-examples-2-desktop@2x.jpg 2x,
                ./images/desktop/3d-printing-page/model-examples-2-desktop@3x.jpg 3x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/tablet/3d-printing-page/model-examples-2-tablet@1x.jpg 1x,
                ./images/tablet/3d-printing-page/model-examples-2-tablet@2x.jpg 2x,
                ./images/tablet/3d-printing-page/model-examples-2-tablet@3x.jpg 3x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/3d-printing-page/model-examples-2-mobile@1x.jpg 1x,
                ./images/mobile/3d-printing-page/model-examples-2-mobile@2x.jpg 2x,
                ./images/mobile/3d-printing-page/model-examples-2-mobile@3x.jpg 3x
              "
              media="(max-width: 767px)"
            />
            <img
              class="model-examples__img"
              src="./images/mobile/3d-printing-page/model-examples-2-mobile@1x.jpg"
              alt="Макети"
            />
          </picture>
        </div>
        <p class="model-examples__text">Макети</p>
      </li>
      <li class="model-examples__item">
        <div class="model-examples__wrap">
          <picture>
            <source
              srcset="
                ./images/desktop/3d-printing-page/model-examples-3-desktop@1x.jpg 1x,
                ./images/desktop/3d-printing-page/model-examples-3-desktop@2x.jpg 2x,
                ./images/desktop/3d-printing-page/model-examples-3-desktop@3x.jpg 3x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/tablet/3d-printing-page/model-examples-3-tablet@1x.jpg 1x,
                ./images/tablet/3d-printing-page/model-examples-3-tablet@2x.jpg 2x,
                ./images/tablet/3d-printing-page/model-examples-3-tablet@3x.jpg 3x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/3d-printing-page/model-examples-3-mobile@1x.jpg 1x,
                ./images/mobile/3d-printing-page/model-examples-3-mobile@2x.jpg 2x,
                ./images/mobile/3d-printing-page/model-examples-3-mobile@3x.jpg 3x
              "
              media="(max-width: 767px)"
            />
            <img
              class="model-examples__img"
              src="./images/mobile/3d-printing-page/model-examples-3-mobile@1x.jpg"
              alt="Декор"
            />
          </picture>
        </div>
        <p class="model-examples__text">Декор</p>
      </li>
      <li class="model-examples__item">
        <div class="model-examples__wrap">
          <picture>
            <source
              srcset="
                ./images/desktop/3d-printing-page/model-examples-4-desktop@1x.jpg 1x,
                ./images/desktop/3d-printing-page/model-examples-4-desktop@2x.jpg 2x,
                ./images/desktop/3d-printing-page/model-examples-4-desktop@3x.jpg 3x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/tablet/3d-printing-page/model-examples-4-tablet@1x.jpg 1x,
                ./images/tablet/3d-printing-page/model-examples-4-tablet@2x.jpg 2x,
                ./images/tablet/3d-printing-page/model-examples-4-tablet@3x.jpg 3x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/3d-printing-page/model-examples-4-mobile@1x.jpg 1x,
                ./images/mobile/3d-printing-page/model-examples-4-mobile@2x.jpg 2x,
                ./images/mobile/3d-printing-page/model-examples-4-mobile@3x.jpg 3x
              "
              media="(max-width: 767px)"
            />
            <img
              class="model-examples__img"
              src="./images/mobile/3d-printing-page/model-examples-4-mobile@1x.jpg"
              alt="Корпоративний дизайн"
            />
          </picture>
        </div>
        <p class="model-examples__text">Корпоративний дизайн</p>
      </li>
    </ul>
  </div>
</section>
