<section class="process-description">
  <div class="container">
    <h2 class="process-description__title">Опис процесів</h2>
    <ul class="process-description__list">
      <li class="process-description__item">
        <picture>
          <source
            srcset="
              ./images/desktop/3d-printing-page/process-description-1-desktop@1x.jpg 1x,
              ./images/desktop/3d-printing-page/process-description-1-desktop@2x.jpg 2x,
              ./images/desktop/3d-printing-page/process-description-1-desktop@3x.jpg 3x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./images/tablet/3d-printing-page/process-description-1-tablet@1x.jpg 1x,
              ./images/tablet/3d-printing-page/process-description-1-tablet@2x.jpg 2x,
              ./images/tablet/3d-printing-page/process-description-1-tablet@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/mobile/3d-printing-page/process-descripion-1-mobile@1x.jpg 1x,
              ./images/mobile/3d-printing-page/process-descripion-1-mobile@2x.jpg 2x,
              ./images/mobile/3d-printing-page/process-descripion-1-mobile@3x.jpg 3x
            "
            media="(max-width:767px)"
          />
          <img
            class="process-description__img"
            src="./images/tablet/3d-printing-page/process-description-1-tablet@1x.jpg"
            alt="3-D друк Ейфелевої вежі"
          />
        </picture>
        <div class="process-description__box">
          <div class="process-description__text-box">
            <p class="process-description__text">
              <span lang="en" class="process-description__text--part"
                >3D-друк</span
              >
              - ми використовуємо FDM технологію друку. Вона представляє собою
              пошарове формування об'єкта за допомогою 3D принтера.
            </p>
            <p class="process-description__text">
              Моделі для створення розроблюються дизайнерами в спеціальному
              програмному забезпеченні: системах автоматизованого проектування.
            </p>
            <p class="process-description__text">
              3D друк знайшов широке застосування в архітектурі, промисловості,
              маркетингу, мистецтві і багатьох інших сфер.
            </p>
          </div>
          <a class="process-description__link" href="./order.html"
            >Зробити замовлення</a
          >
        </div>
      </li>
      <li class="process-description__item">
        <picture>
          <source
            srcset="
              ./images/desktop/3d-printing-page/process-description-2-desktop@1x.jpg 1x,
              ./images/desktop/3d-printing-page/process-description-2-desktop@2x.jpg 2x,
              ./images/desktop/3d-printing-page/process-description-2-desktop@3x.jpg 3x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./images/tablet/3d-printing-page/process-description-2-tablet@1x.jpg 1x,
              ./images/tablet/3d-printing-page/process-description-2-tablet@2x.jpg 2x,
              ./images/tablet/3d-printing-page/process-description-2-tablet@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/mobile/3d-printing-page/process-descripion-2-mobile@1x.jpg 1x,
              ./images/mobile/3d-printing-page/process-descripion-2-mobile@2x.jpg 2x,
              ./images/mobile/3d-printing-page/process-descripion-2-mobile@3x.jpg 3x
            "
            media="(max-width:767px)"
          />
          <img
            class="process-description__img"
            src="./images/tablet/3d-printing-page/process-description-2-tablet@1x.jpg"
            alt="Робота над 3-D моделлю"
          />
        </picture>
        <div class="process-description__box">
          <div class="process-description__text-box">
            <p class="process-description__text">
              <span lang="en" class="process-description__text--part">
                3D-моделювання</span
              >
              - це процес розробки математичного уявлення будь-якої поверхні
              об'єкта в трьох вимірах за допомогою спеціалізованого програмного
              забезпечення.
            </p>
            <p class="process-description__text">
              Наші дизайнери зпроектують будь-який виріб виходячи з ваших
              побажань.
            </p>
            <p class="process-description__text">
              Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка
              повністю задовольнить ваші потреби.
            </p>
          </div>
          <a class="process-description__link" href="./order.html"
            >Зробити замовлення</a
          >
        </div>
      </li>
      <li class="process-description__item">
        <picture>
          <source
            srcset="
              ./images/desktop/3d-printing-page/process-description-3-desktop@1x.jpg 1x,
              ./images/desktop/3d-printing-page/process-description-3-desktop@2x.jpg 2x,
              ./images/desktop/3d-printing-page/process-description-3-desktop@3x.jpg 3x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ./images/tablet/3d-printing-page/process-description-3-tablet@1x.jpg 1x,
              ./images/tablet/3d-printing-page/process-description-3-tablet@2x.jpg 2x,
              ./images/tablet/3d-printing-page/process-description-3-tablet@3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/mobile/3d-printing-page/process-descripion-3-mobile@1x.jpg 1x,
              ./images/mobile/3d-printing-page/process-descripion-3-mobile@2x.jpg 2x,
              ./images/mobile/3d-printing-page/process-descripion-3-mobile@3x.jpg 3x
            "
            media="(max-width:767px)"
          />
          <img
            class="process-description__img"
            src="./images/tablet/3d-printing-page/process-description-3-tablet@1x.jpg"
            alt="Сканування бюсту для створення 3-D моделі"
          />
        </picture>
        <div class="process-description__box">
          <div class="process-description__text-box">
            <p class="process-description__text">
              <span lang="en" class="process-description__text--part"
                >3D-сканування</span
              >
              - зняття даних, шляхом аналізу форми предмета і на основі
              отриманих даних створення її 3D-моделі.
            </p>
            <p class="process-description__text">
              Це універсальний інструмент, який дозволяє отримати як і просто
              3D-модель для візуалізації в цифровому вигляді, так і 3D-модель
              для подальшого її друку на 3D-принтері.
            </p>
          </div>
          <a class="process-description__link" href="./order.html"
            >Зробити замовлення</a
          >
        </div>
      </li>
    </ul>
  </div>
</section>
