.modeling-hero {
  padding-top: 40px;
  padding-bottom: 40px;
  @include desktop {
    padding-bottom: 100px;
  }

  &__container {
    @include desktop {
      padding-left: 149px;
    }
  }

  &__main-title {
    @include font(24px, 700, 30px, 1.25);
    color: $secondary-color-text;
    text-transform: uppercase;

    margin-bottom: 16px;
    @include tablet {
      @include font(36px, 700, 45px, 1.25);
    }
    @include desktop {
      margin-bottom: 24px;
      @include font(48px, 700, 60px, 1.25);
    }
  }
  &__text {
    @include font(16px, 300, 20px, 1.28);
    color: $primary-color-text;

    @include tablet {
      max-width: 515px;
    }
    @include desktop {
      @include font(18px, 300, 23px, 1.28);

      max-width: 100%;
      display: flex;
      align-items: baseline;
      gap: 72px;
    }
  }
  &__text--first {
    margin-bottom: 16px;
    @include desktop {
      margin-bottom: 0;
    }
  }
}
.modeling-hero__text--item {
  @include desktop {
    // flex-basis: calc(100% / 2);
    max-width: 515px;
  }
}
