.method-of-creation-section {
  padding-bottom: 40px;
  @include desktop {
    padding-bottom: 100px;
  }
}

.method-of-creation-container {
  @include desktop {
    padding-left: 149px;
  }
}

.method-of-creation__title {
  @include font(18px, 700, 23px, 1.28);
  text-transform: uppercase;
  color: $secondary-color-text;

  margin-bottom: 16px;

  @include tablet {
    @include font(24px, 700, 30px, 1.25);
  }
  @include desktop {
    @include font(36px, 700, 45px, 1.25);
    margin-bottom: 24px;
  }
}
.method-of-creation__list {
  margin-bottom: 40px;
  @include tablet {
    margin-bottom: 0;
  }
}
.method-of-creation__item {
  @include font(16px, 300, 20px, 1.25);
  color: $primary-color-text;

  position: relative;
  margin-left: 15px;
  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &::before {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    background-color: $secondary-color-text;
    border-radius: 3px 0px;

    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @include desktop {
    @include font(18px, 300, 23px, 1.28);
  }
}
.method-of-creation__bg {
  width: 100%;
  height: 164px;

  background-image: url('/src/images/mobile/3d-modelling-page/methods-of-creations-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @include retina {
    background-image: url('/src/images/mobile/3d-modelling-page/methods-of-creations-mobile@2x.jpg');
  }
  @include retina3x {
    background-image: url('/src/images/mobile/3d-modelling-page/methods-of-creations-mobile@3x.jpg');
  }

  @include tablet {
    max-width: 246px;
    max-height: 144px;

    background-image: url('/src/images/tablet/3d-modelling-page/methods-of-creation-tablet@1x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include retina {
      background-image: url('/src/images/tablet/3d-modelling-page/methods-of-creation-tablet@2x.jpg');
    }
    @include retina3x {
      background-image: url('/src/images/tablet/3d-modelling-page/methods-of-creation-tablet@3x.jpg');
    }
  }
  @include desktop {
    max-width: 515px;
    min-height: 301px;

    background-image: url('/src/images/desktop/3d-modelling-page/methods-of-creations-desktop@1x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include retina {
      background-image: url('/src/images/desktop/3d-modelling-page/methods-of-creations-desktop@2x.jpg');
    }
    @include retina3x {
      background-image: url('/src/images/desktop/3d-modelling-page/methods-of-creations-desktop@3x.jpg');
    }
  }
}
.thumb-method {
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include desktop {
    justify-content: flex-start;
    align-items: flex-end;
  }
}
